In [3]:
import pandas as pd
import numpy as np

### 1

In [5]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

### 2

In [9]:
a = pd.to_datetime(df)
print(type(a))
print(a)

<class 'pandas.core.series.Series'>
0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

### 3

In [12]:
pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')

datetime.datetime(1300, 1, 1, 0, 0)

### 4

In [13]:
pd.to_datetime(['2018-10-26 12:00', '2018-10-26 13:00:15'])

DatetimeIndex(['2018-10-26 12:00:00', '2018-10-26 13:00:15'], dtype='datetime64[ns]', freq=None)

### 5

In [14]:
pd.to_datetime(['2020-10-25 02:00 +0200', '2020-10-25 04:00 +0100'])

Index([2020-10-25 02:00:00+02:00, 2020-10-25 04:00:00+01:00], dtype='object')

### 6