https://satishgunjal.com/multivariate_lr_scikit/

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/satishgunjal/datasets/master/multivariate_housing_prices_in_portlans_oregon.csv')
print('Dimension of dataset= ', df.shape)
df.head() # To get first n rows from the dataset default value of n is 5

Dimension of dataset=  (47, 3)

   size(in square feet)   number of bedrooms   price
0                  2104                    3  399900
1                  1600                    3  329900
2                  2400                    3  369000
3                  1416                    2  232000
4                  3000                    4  539900

In [4]:
X = df.values[:, 0:2]  # get input values from first two columns
y = df.values[:, 2]  # get output values from last coulmn
m = len(y) # Number of training examples

print('Total no of training examples (m) = %s \n' %(m))

# Show only first 5 records
for i in range(5):
    print('X =', X[i, ], ', y =', y[i])

Total no of training examples (m) = 47

X = [2104    3] , y = 399900
X = [1600    3] , y = 329900
X = [2400    3] , y = 369000
X = [1416    2] , y = 232000
X = [3000    4] , y = 539900

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [17]:
model = LinearRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
result = pd.DataFrame(np.array([y_test,predictions]).T)
result

          0              1
0  573900.0  639651.382385
1  242900.0  287658.882182
2  287000.0  356757.474714
3  249900.0  261944.644415
4  369000.0  410224.949619
5  232000.0  275531.954162
6  299900.0  446717.610401
7  314900.0  337972.223172
8  299900.0  309024.458501
9  464500.0  265178.171320

In [18]:
mse = mean_squared_error(y_test, predictions)
mse

7683249339.8828125

In [12]:
model_ols =  LinearRegression(normalize=True)
model_ols.fit(X,y) 
# fit() method is used for training the model
# Note the first parameter(feature) is must be 2D array(feature matrix)

/opt/conda/lib/python3.9/site-packages/sklearn/linear_model/_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

LinearRegression(normalize=True)

In [6]:
coef = model_ols.coef_
intercept = model_ols.intercept_
print('coef= ', coef)
print('intercept= ', intercept)

coef=  [  139.21067402 -8738.01911233]
intercept=  89597.9095427974

In [7]:
predictedPrice = pd.DataFrame(model_ols.predict(X), columns=['Predicted Price']) # Create new dataframe of column'Predicted Price'
actualPrice = pd.DataFrame(y, columns=['Actual Price'])
actualPrice = actualPrice.reset_index(drop=True) # Drop the index so that we can concat it, to create new dataframe
df_actual_vs_predicted = pd.concat([actualPrice,predictedPrice],axis =1)
df_actual_vs_predicted.T

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
Actual Price,399900.000000,329900.000000,369000.000000,232000.000000,539900.000000,299900.000000,314900.000000,198999.000000,212000.00000,242500.000000,...,345000.000000,549000.000000,287000.00000,368500.000000,329900.000000,314000.000000,299000.000000,179900.000000,299900.000000,239500.000000
Predicted Price,356283.110339,286120.930634,397489.469848,269244.185727,472277.855146,330979.021018,276933.026149,262037.484029,255494.58235,271364.599188,...,351442.990099,641418.824078,355619.31032,303768.432883,374937.340657,411999.633297,230436.661027,190729.365581,312464.001374,230854.293049