 - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html
 - https://stackoverflow.com/questions/22100130/pandas-replace-multiple-values-one-column

In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame({'a':['Small', 'Medium', 'High']})
df

        a
0   Small
1  Medium
2    High

In [7]:
df2 = df.replace({'a' : { 'Medium' : 2, 'Small' : 1, 'High' : 3 }})
df2

   a
0  1
1  2
2  3