# 6. 변수와 입력 사용하기

## 6.1. 변수 만들기

In [77]:
x=10
x

10

In [79]:
y = 'hello world'
y

'hello world'

### 6.1.1. 변수의 자료형 알아내기

In [81]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### 6.1.2. 변수 여러 개를 한 번에 만들기

In [82]:
x,y,z=10,20,30
print(x,y,z)

10 20 30

In [83]:
x, y = 10, 20
x, y = y, x
print(x,y)

20 10

## 6.2. 변수로 계산하기

In [84]:
a = 10
b = 20
print(a+b)

30

### 6.2.1. 산술 연산 후 할당 연산자 사용하기

In [86]:
a=10
print(a+20)

30

In [87]:
a=10
a=a+20
print(a)

30

In [88]:
a=10
a+=20
print(a)

30

## 6.3. 입력값을 변수에 저장하기

### 6.3.1. input 함수 사용하기

In [89]:
input()

Hello, world!

'Hello, world!'

### 6.3.2. input 함수의 결과를 변수에 할당하기

In [90]:
x = input()

Hello world!

In [91]:
print(x)

Hello world!

In [92]:
x = input('문자열을 입력하세요')

문자열을 입력하세요hello world

In [93]:
print(x)

hello world

실행을 해보면 '문자열을 입력하세요: '처럼 안내 문구가 먼저 나옵니다. 여기에 문자열을 입력한 뒤 엔터 키를 누르면 입력한 그대로 출력됩니다. 즉, 이 문자열은 사용자에게 입력받는 값의 용도를 미리 알려줄 때 사용합니다. 다른 말로는 **프롬프트(prompt)**라고도 부릅니다(파이썬 프롬프트 >>>와 같은 의미입니다).

### 6.3.3. 두 숫자의 합 구하기

In [96]:
a= input('첫번재 숫자를 입력하세요: ')
b= input('두번재 숫자를 입력하세요: ')
print(a+b)

첫번재 숫자를 입력하세요: 10
두번재 숫자를 입력하세요: 20
1020

In [97]:
print(type(a))

<class 'str'>

### 6.3.4. 입력 값을 정수로 변환하기

In [101]:
a = int(input('첫번째 숫자를 입력하세요 : '))
#b = input(int('첫번째 숫자를 입력하세요 : ')) #오류

첫번째 숫자를 입력하세요 : 10

In [99]:
print(a)
print(type(a))

10
<class 'int'>

## 6.4.1. 입력값을 변수 두 개에 저장하기

In [108]:
a, b = input('문자열 두 개를 입력하세요: ').split() 
print(a)
print(b)

문자열 두 개를 입력하세요: 10 20
10
20

In [113]:
a, b = input('문자열 두 개를 입력하세요: ').split() 
print(a)
print(b)

문자열 두 개를 입력하세요: 10 20
10
20

In [126]:
L = input('문자열 두 개를 입력하세요: ').split()
print(L)
print(type(L))

문자열 두 개를 입력하세요: 10, 20.3
['10,', '20.3']
<class 'list'>

### 6.4.2 입력 값을 정수로 변환하기

In [123]:
a, b = input('문자열 두 개를 입력하세요: ').split() 
a=int(a)
b=int(b)
print(a)
print(b)

# issue : '10, 20'을 입력하면 잘 출력된다. 그런데 '10.2, 20.3'을 입력하면 에러가 뜬다.

문자열 두 개를 입력하세요: 10 20
10
20

In [121]:
a=10.2
a=int(a)
print(a)

10

### 6.4.3. map을 사용하여 정수로 변환하기

In [124]:
a,b = map(int,(10.2,20.3))
print(a,b)

10 20

In [127]:
a,b = map(int,[10.2,20.3])
print(a,b)

10 20

### 6.4.4. 입력받은 값을 콤마를 기준으로 분리하기

In [128]:
a,b = input('숫자 두 개를 입려하세요:').split(',')
print(a)
print(b)

숫자 두 개를 입려하세요:10,20
10
20

## 6.5. 퀴즈

#### 2번문제

> 다음 중 변수 이름으로 사용할 수 없는 것을 모두 고르세요.
> 1. 300
> 2. _53A
> 3. if
> 4. z
> 5. H-80
> 6. _hello3
> 7. 30seconds
> 8. 99%

|순번|코드|사용가능여부|이유|비고|
|-|-|-|-|-|
|(a)|300|불가능|숫자(3)부터 시작하면 안됩니다.|맞음|
|(b)|\_53A|가능||맞음|
|(c)|if|불가능|파이썬의 키워드(if)는 사용할 수 없습니다.|맞음|
|(d)|z|가능||맞음|
|(e)|H-80|불가능|특수문자(-)는 사용할 수 없습니다.|맞음|
|(f)|\_hello3|가능||틀림|
|(g)|30seconds|불가능|숫자(3)부터 시작하면 안됩니다.|맞음|
|(h)|99%|불가능|숫자(9)부터 시작하면 안되고 특수문자(%)는 사용할 수 없습니다.|맞음|

> 변수를 지을 때의 규칙
> - 영문 문자와 숫자를 사용할 수 있습니다.
> - 대소문자를 구분합니다.
> - 문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.
> - _(밑줄 문자)로 시작할 수 있습니다.
> - 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
> - 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

#### 3번문제

In [190]:
a=20
b=30
c=-a
print(c)

-20

In [191]:
del a,b,c

In [215]:
a=20
b=30
b+ =a
print(b)

SyntaxError: invalid syntax (2166200384.py, line 3)

In [196]:
del a,b

In [210]:
a=20
b=30
c=a//b
print(c)

0

In [211]:
del a,b,c

In [212]:
a=20
b=30
c-=b
print(c)

NameError: name 'c' is not defined

In [213]:
del a,b

In [214]:
a=20
b=30
c=a+10
print(c)

30

## 6.6. 연습문제 : 정수 세 개를 입력받고 합계 출력하기

## 6.7. 심사문제 : 변수 만들기

In [216]:
a=50
b=100
c=None
print(a)
print(b)
print(c)

50
100
None

6.8. 심사문제 : 평균 점수 구하기

In [225]:
a,b,c,d=map(int,input().split())
average=int((a+b+c+d)/4)
print(average)

10 20 30 40
25

## 6.9*. 스스로 만든 문제

리스트 L은 다음과 같이 정의되어 있다.

In [158]:
L=[5, 5.3, '5']

이때, L의 세 원소(?) 5, 5.3, '5'의 데이터타입을 출력하는 코드를 만들어라. (함수 map, type을 사용하여라.)

In [ ]:
[int, float, str]

In [266]:
type(5)

int

In [268]:
a,b,c=map(type,L)
print(a)
print(b)
print(c)

<class 'int'>
<class 'float'>
<class 'str'>