# 22. 리스트와 튜플 응용하기

|명령어|설명|구분|반환여부|문법|equivalent to|튜플에서의 호환|
|:----:|:--:|:---:|:--:|:--:|:-:|:-:|
|append|요소 하나를 추가|list의 method|반환하지 않음|*lst*.append(*ele*)|*lst*.insert(len(*lst*),*ele*)|x|
|extend|리스트를 연결하여 확장|list의 method|반환하지 않음|*lst*.extend(*lst*)|*lst*+*lst*|x|
|insert|특정 인덱스에 요소 추가|list의 method|반환하지 않음|*lst*.insert(*n*,*ele*)||x|
|pop|특정 인덱스의 요소를 삭제|list의 method|반환(삭제된 요소)|*lst*.pop(*n*)||x|
|remove|특정 값을 찾아서 삭제|list의 method|반환하지 않음|*lst*.remove(*ele*)||x|
|index|특정 값의 인덱스 출력|list의 method|반환(해당 인덱스)|*lst*.index(*ele*)||o|
|count|특정 값의 개수 출력|list의 method|반환(해당 개수)|*lst*.count(*ele*)||o|
|reverse|요소들의 순서를 반전|list의 method|반환하지 않음|*lst*.reverse()||x|
|sort|요소들을 정렬|list의 method|반환하지 않음|*lst*.sort()||x|
|clear|모든 요소들을 삭제|list의 method|반환하지 않음|*lst*.clear()||x|
|copy|복사|list의 method|반환하지 않음|*lst*.copy()||x|

In [115]:
a = (2,3,4)
b=a.copy()

AttributeError: 'tuple' object has no attribute 'copy'

## 22.1. 리스트 조작하기

- append : 요소 하나를 추가
- extend : 리스트를 연결하여 확장
- insert : 특정 인덱스에 요소 추가
- pop : 마지막 요소 또는 특정 인덱스의 요소를 삭제

### 22.1.1. 리스트에 요소 추가하기

### 22.1.2. 리스트에 요소 하나 추가하기 (append)

In [1]:
a = [10, 20, 30]
a.append(500)
print(a)

[10, 20, 30, 500]

In [7]:
a = [10, 20, 30]
a.insert(len(a),500)
print(a)

[10, 20, 30, 500]

### 22.1.3. 리스트 안에 리스트 추가하기 (append)

In [2]:
a = [10, 20, 30]
a.append([500,600])
print(a)

[10, 20, 30, [500, 600]]

### 22.1.4. 리스트 확장하기

In [3]:
a= [10,20,30]
a.extend([500,600])
print(a)

[10, 20, 30, 500, 600]

In [4]:
a= [10,20,30]
a = a + [500,600]
print(a)

[10, 20, 30, 500, 600]

In [8]:
a= [10,20,30]
a[len(a):len(a)] = [500,600]
print(a)

[10, 20, 30, 500, 600]

### 22.1.5. 리스트의 특정 인덱스에 요소 추가하기

In [6]:
a = [10,20,30]
a.insert(2,500)
print(a)

[10, 20, 500, 30]

### 22.1.6. 리스트에서 요소 삭제하기

### 22.1.7. 리스트에서 특정 인덱스의 요소를 삭제하기

In [9]:
a = [10, 20, 30]
a.pop()
print(a)

[10, 20]

In [10]:
a = [10, 20, 30]
a.pop(1)
print(a)

[10, 30]

### 22.1.8. 리스트에서 특정 값을 찾아서 삭제하기

In [11]:
a = [10, 20, 30]
a.remove(20)
print(a)

[10, 30]

### 22.1.9. 리스트에서 특정 값의 인덱스 구하기

In [14]:
a = [10, 20, 30, 15, 20, 40]
print(a.index(20))

1

### 22.1.10 특정 값의 개수 구하기

In [15]:
a = [10,20,30,15,20,40]
print(a.count(20))

2

### 22.1.11. 리스트의 순서를 뒤집기

In [16]:
a = [10,20,30,15,20,40]
a.reverse()
print(a)

[40, 20, 15, 30, 20, 10]

### 22.1.12. 리스트의 요소를 정렬하기

In [17]:
a = [10,20,30,15,20,40]
a.sort()
print(a)

[10, 15, 20, 20, 30, 40]

### 22.1.13. 리스트의 모든 요소를 삭제하기

In [21]:
a = [10, 20, 30]
a.clear()
print(a)

[]

### 22.1.14. 리스트를 슬라이스로 조작하기

In [22]:
a = [10, 20, 30]
a[len(a):] = [500,600]
print(a)

[10, 20, 30, 500, 600]

## 22.2. 리스트의 할당과 복사 알아보기

할당

In [23]:
a = [0, 0, 0, 0, 0]
b = a

In [24]:
print(b == a)
print(b is a)

True
True

In [25]:
b[2]=99
print(a,b)

[0, 0, 99, 0, 0] [0, 0, 99, 0, 0]

복사

In [29]:
a = [0, 0, 0, 0, 0]
b = a.copy()

In [30]:
print(b == a)
print(b is a)

True
False

In [31]:
c[2]=99
print(a,b)

[0, 0, 0, 0, 0] [0, 0, 0, 0, 0]

## 22.3. 반복문으로 리스트의 요소를 모두 출력하기

### 22.3.1. for 반복문으로 요소 출력하기

In [33]:
a = [38, 21, 53, 62, 19]
for i in a:
    print(i)

38
21
53
62
19

### 22.3.2. 인덱스와 요소를 함께 출력하기

In [34]:
a = [38, 21, 53, 62, 19]
for index,value in enumerate(a):
    print(index,value)

0 38
1 21
2 53
3 62
4 19

In [36]:
print(enumerate(a))
print(list(enumerate(a)))

<enumerate object at 0x7f7ec0406480>
[(0, 38), (1, 21), (2, 53), (3, 62), (4, 19)]

### 22.3.3. while 반복문으로 요소 출력하기

In [37]:
a = [38, 21, 53, 62, 19]
i = 0
while i < len((a)):
    print(a[i])
    i+=1

38
21
53
62
19

## 22.4. 리스트의 가장 작은 수, 가장 큰 수, 합계 구하기

In [38]:
a = [38, 21, 53, 62, 19]
smallest = a[0]
for i in a:
    if i< smallest:
        smallest = i
print(smallest)

19

In [39]:
a = [38, 21, 53, 62, 19]
a.sort()
print(a[0])

19

In [40]:
a = [38, 21, 53, 62, 19]
print(min(a))

19

### 22.4.2. 요소의 합계 구하기

In [41]:
a = [38, 21, 53, 62, 19]
x = 0
for i in a:
    x += i
print(x)

193

In [42]:
a = [38, 21, 53, 62, 19]
print(sum(a))

193

### 22.5. 리스트 표현식 사용하기

리스트 컴프리헨션 (list comprehension)

In [44]:
a = [i for i in range(10)]
print(a)
b = list(i for i in range(10))
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
c = [i+5 for i in range(10)]
print(c)
d = list(i*2 for i in range(10))
print(d)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### 22.5.1. 리스트 표현식에서 if 조건문 사용하기

In [48]:
a = [i for i in range(10) if i % 2 == 0]
print(a)

[0, 2, 4, 6, 8]

### 22.5.2. for 반복문과 if 조건문을 여러 번 사용하기

In [49]:
a = [i * j for j in range(2, 10) for i in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [51]:
a = [i * j for j in range(2, 10)
           for i in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 22.6. 리스트에 map 사용하기

In [52]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
print(a)

[1, 2, 3, 4]

In [54]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [56]:
a = list(map(str, range(10)))
print(a)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

### 22.6.1. input().split과 map

In [57]:
a = input().split()

10 20

In [58]:
print(type(a))

<class 'list'>

In [69]:
a = map(int,input().split())
print(list(a))

1.5 3.2

ValueError: invalid literal for int() with base 10: '1.5'

## 22.7. 튜플 응용하기

### 22.7.1. 튜플에서 특정 값의 인덱스 구하기

In [72]:
a = (38, 21, 53, 62, 19, 53)
print(a.index(53))

2

### 22.7.2. 특정 값의 개수 구하기

In [73]:
a = (10, 20, 30, 15, 20, 40)
a.count(20)

2

### 22.7.3. for 반복문으로 요소 출력하기

In [74]:
a = (38, 21, 53, 62, 19)
for i in a:
    print(i, end=' ')

38 21 53 62 19

### 22.7.4. 튜플 표현식 사용하기

In [75]:
a = tuple(i for i in range(10) if i % 2 == 0)
print(a)

(0, 2, 4, 6, 8)

### 22.7.5. 튜플에 map 사용하기

In [77]:
a = (1.2, 2.5, 3.7, 4.6)
a = tuple(map(int, a))
print(a)

(1, 2, 3, 4)

### 22.7.6.  튜플에서 가장 작은 수, 가장 큰 수, 합계 구하기

In [78]:
a = (38, 21, 53, 62, 19)
print(max(a),min(a),sum(a))

62 19 193

## 22.8. 퀴즈

3번 문제

In [97]:
a = [1, 2, 3]
a.append(40)
print(a)

a = [1, 2, 3]
a.insert(len(a),40)
print(a)

# a = [1, 2, 3]
# a[0:] = 40
# print(a)

# a = [1, 2, 3]
# a[len(a):]=40
# print(a)

a = [1, 2, 3]
a[len(a):]=[40]
print(a)

a = [1, 2, 3]
a[-1:]=[40]
print(a)

[1, 2, 3, 40]
[1, 2, 3, 40]
[1, 2, 3, 40]
[1, 2, 40]

4번 문제

In [101]:
a = (1,4)
print(a[:])
# print(a.pop())
print(sum(a))
print(a.count(10))
print(min(a))

(1, 4)
5
0
1

## 22.11*. 직접 만든 문제

이 코드는 잘 돌아가는데 ("1, 2"를 입력하면 [1.0, 2.0]이 나온다.)

In [71]:
a = map(float,input().split())
print(list(a))

1 2
[1.0, 2.0]

이 코드는 돌아가지 않는다. ("1.1, 2.1"를 입력하면 [1, 2]이 나와야 할 것 같은데 그렇지 않다.)

In [70]:
a = map(int,input().split())
print(list(a))

1.1,2.1

ValueError: invalid literal for int() with base 10: '1.1,2.1'

# 23. 2차원

## 22.1. 리스트 조작하기