# 4. 기본 문법 알아보기

## 4.1. 세미콜론

In [1]:
print('Hello, world!')

Hello, world!

In [2]:
print('Hello, world!') ; print('1234')

Hello, world!
1234

## 4.2. 주석

### 4.2.1. 한 줄 주석

In [3]:
#print('Hello, world!')

In [5]:
a = 1 + 2 #더하기
print('Hello, world') #printf('1234567890')

Hello, world

In [6]:
print('Hello, world!')
print('1234567890')

Hello, world!
1234567890

### 4.2.2. 블록 주석

In [8]:
print('Hello, world!')
print('1234567890')

Hello, world!
1234567890

In [7]:
# print('Hello, world!')
# print('1234567890')

In [9]:
# 단축키는 'Ctrl + /'

## 4.3. 들여쓰기

In [13]:
# 네 칸 들여쓰기 (tab)
if a==0:
    print('10입니다.')

In [14]:
# 두 칸 들여쓰기 (마찬가지로 동작함)
if a==0:
  print('10입니다.')

## 4.4. 코드 블록

 - 코드 블록은 특정한 동작을 위해서 코드가 모여 있는 상태를 뜻한다.
 - 들여쓰기를 기준으로 코드 블록을 구성한다.
 - 들여쓰기 칸 수가 같아야 한다.

In [15]:
if a == 10:
      print('10')
      print('입니다.')

In [16]:
if a == 10:
  print('10')
  print('입니다.')

In [18]:
# 에러
# if a == 10:
#   print('10')
#     print('입니다.')

## 4. 5*. 스스로 만든 퀴즈

다음 6개의 코드들이 작동하는지, 작동하지 않는지 판단해주세요.

In [259]:
#1 : 한 칸 indent
a=0
for i in range(5):
 a=a+1
 print(a)

1
2
3
4
5

In [260]:
#2 : 두 칸 indent
a=0
for i in range(5):
  a=a+1
  print(a)

1
2
3
4
5

In [261]:
#3 : 세 칸 indent
a=0
for i in range(5):
   a=a+1
   print(a)

1
2
3
4
5

In [262]:
#4 : 네 칸 indent
a=0
for i in range(5):
    a=a+1
    print(a)

1
2
3
4
5

In [258]:
#4 tab indent
a=0
for i in range(5):
    a=a+1
    print(a)

1
2
3
4
5

In [264]:
#5 다섯 칸 indent
a=0
for i in range(5):
 a=a+1
 print(a)

1
2
3
4
5

# 5. 숫자 계산하기

## 5.1. 정수 계산하기

### 5.1.1 사칙연산

In [31]:
1+1

2

In [20]:
1-2

-1

In [21]:
2*2

4

In [22]:
5/2

2.5

In [27]:
4/2

2.0

In [28]:
print(type(1+1)); print(type(5/2)) ; print(4/2)

<class 'int'>
<class 'float'>
2.0

### 5.1.2. 정수의 나눗셈 : 몫

In [32]:
print(5//2)
print(4//2)

2
2

### 5.1.3. 정수의 나눗셈 : 나눗셈

In [33]:
print(5%2)
print(4%2)

1
0

In [39]:
print('5를 2로 나누면 몫은 ', 5//2,'이고, 나머지는',5%2,'이다.')

5를 2로 나누면 몫은  2 이고, 나머지는 1 이다.

### 5.1.4. 거듭제곱을 구하는 ** 연산자

In [40]:
2**10

1024

In [41]:
2*10

20

In [53]:
print(1*1,1*2,1*3,1*4,1*5)
print(2*1,2*2,2*3,2*4,2*5)
print(3*1,3*2,3*3,3*4,3*5)
print(4*1,4*2,4*3,4*4,4*5)
print(5*1,5*2,5*3,5*4,5*5)

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [55]:
print('^는 어떤 연산이지?')
print(1^1,1^2,1^3,1^4,1^5)
print(2^1,2^2,2^3,2^4,2^5)
print(3^1,3^2,3^3,3^4,3^5)
print(4^1,4^2,4^3,4^4,4^5)
print(5^1,5^2,5^3,5^4,5^5)

^는 어떤 연산이지?
0 3 2 5 4
3 0 1 6 7
2 1 0 7 6
5 6 7 0 1
4 7 6 1 0

### 5.1.5. 값을 정수로 만들기

In [60]:
a=3.3 ; print(int(a)) ; print(type(int(a)))
b=5/2 ; print(int(b)) ; print(type(int(b)))
c='10' ; print(int(c)) ; print(type(int(c)))

3
<class 'int'>
2
<class 'int'>
10
<class 'int'>

### 5.1.6. 객체의 자료형 알아내기

In [62]:
print(type(10))
print(type(10.1))
print(type('10'))

<class 'int'>
<class 'float'>
<class 'str'>

In [66]:
quotient,remainder = divmod(5,2)
print(quotient,remainder)

2 1

## 5.2. 실수 계산하기

In [67]:
3.5+2.1

5.6

In [68]:
4.3-2.7

1.5999999999999996

In [69]:
1.5*3.1

4.65

In [70]:
5.5/3.1

1.7741935483870968

### 5.2.1. 실수와 정수를 함께 계산하면?

In [71]:
4.2+5

9.2

### 5.2.2. 값을 실수로 만들기

In [72]:
print(float(5))
print(float(1+2))
print(float('5.3'))

5.0
3.0
5.3

In [73]:
1.2+1.3j

(1.2+1.3j)

## 5.3. 괄호 사용하기

In [75]:
print(35+1*2)
print((35+1)*2)

37
72

## 5.4. 퀴즈

## 5.5. 연습문제

## 5.6 심사문제

## 5.7*. 스스로 만든 퀴즈

파이썬에서

In [146]:
3**4

81

와 같이 입력하면 3의 네제곱인 81이 출력된다.
그런데 보통 수식 입력기에서는 지수를 정의할 때

In [265]:
3^4

7

라고 쓴다.
실제 파이썬에서 위의 식을 입력하면 81 대신 7이 뜬다.
이건 무슨 연산일까?

# 6. 변수와 입력 사용하기

## 6.1. 변수 만들기

In [77]:
x=10
x

10

In [79]:
y = 'hello world'
y

'hello world'

### 6.1.1. 변수의 자료형 알아내기

In [81]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### 6.1.2. 변수 여러 개를 한 번에 만들기

In [82]:
x,y,z=10,20,30
print(x,y,z)

10 20 30

In [83]:
x, y = 10, 20
x, y = y, x
print(x,y)

20 10

## 6.2. 변수로 계산하기

In [84]:
a = 10
b = 20
print(a+b)

30

### 6.2.1. 산술 연산 후 할당 연산자 사용하기

In [86]:
a=10
print(a+20)

30

In [87]:
a=10
a=a+20
print(a)

30

In [88]:
a=10
a+=20
print(a)

30

## 6.3. 입력값을 변수에 저장하기

### 6.3.1. input 함수 사용하기

In [89]:
input()

Hello, world!

'Hello, world!'

### 6.3.2. input 함수의 결과를 변수에 할당하기

In [90]:
x = input()

Hello world!

In [91]:
print(x)

Hello world!

In [92]:
x = input('문자열을 입력하세요')

문자열을 입력하세요hello world

In [93]:
print(x)

hello world

실행을 해보면 '문자열을 입력하세요: '처럼 안내 문구가 먼저 나옵니다. 여기에 문자열을 입력한 뒤 엔터 키를 누르면 입력한 그대로 출력됩니다. 즉, 이 문자열은 사용자에게 입력받는 값의 용도를 미리 알려줄 때 사용합니다. 다른 말로는 **프롬프트(prompt)**라고도 부릅니다(파이썬 프롬프트 >>>와 같은 의미입니다).

### 6.3.3. 두 숫자의 합 구하기

In [96]:
a= input('첫번재 숫자를 입력하세요: ')
b= input('두번재 숫자를 입력하세요: ')
print(a+b)

첫번재 숫자를 입력하세요: 10
두번재 숫자를 입력하세요: 20
1020

In [97]:
print(type(a))

<class 'str'>

### 6.3.4. 입력 값을 정수로 변환하기

In [101]:
a = int(input('첫번째 숫자를 입력하세요 : '))
#b = input(int('첫번째 숫자를 입력하세요 : ')) #오류

첫번째 숫자를 입력하세요 : 10

In [99]:
print(a)
print(type(a))

10
<class 'int'>

## 6.4.1. 입력값을 변수 두 개에 저장하기

In [108]:
a, b = input('문자열 두 개를 입력하세요: ').split() 
print(a)
print(b)

문자열 두 개를 입력하세요: 10 20
10
20

In [113]:
a, b = input('문자열 두 개를 입력하세요: ').split() 
print(a)
print(b)

문자열 두 개를 입력하세요: 10 20
10
20

In [126]:
L = input('문자열 두 개를 입력하세요: ').split()
print(L)
print(type(L))

문자열 두 개를 입력하세요: 10, 20.3
['10,', '20.3']
<class 'list'>

### 6.4.2 입력 값을 정수로 변환하기

In [123]:
a, b = input('문자열 두 개를 입력하세요: ').split() 
a=int(a)
b=int(b)
print(a)
print(b)

# issue : '10, 20'을 입력하면 잘 출력된다. 그런데 '10.2, 20.3'을 입력하면 에러가 뜬다.

문자열 두 개를 입력하세요: 10 20
10
20

In [121]:
a=10.2
a=int(a)
print(a)

10

### 6.4.3. map을 사용하여 정수로 변환하기

In [124]:
a,b = map(int,(10.2,20.3))
print(a,b)

10 20

In [127]:
a,b = map(int,[10.2,20.3])
print(a,b)

10 20

### 6.4.4. 입력받은 값을 콤마를 기준으로 분리하기

In [128]:
a,b = input('숫자 두 개를 입려하세요:').split(',')
print(a)
print(b)

숫자 두 개를 입려하세요:10,20
10
20

## 6.5. 퀴즈

#### 2번문제

> 다음 중 변수 이름으로 사용할 수 없는 것을 모두 고르세요.
> 1. 300
> 2. _53A
> 3. if
> 4. z
> 5. H-80
> 6. _hello3
> 7. 30seconds
> 8. 99%

|순번|코드|사용가능여부|이유|비고|
|-|-|-|-|-|
|(a)|300|불가능|숫자(3)부터 시작하면 안됩니다.|맞음|
|(b)|\_53A|가능||맞음|
|(c)|if|불가능|파이썬의 키워드(if)는 사용할 수 없습니다.|맞음|
|(d)|z|가능||맞음|
|(e)|H-80|불가능|특수문자(-)는 사용할 수 없습니다.|맞음|
|(f)|\_hello3|가능||틀림|
|(g)|30seconds|불가능|숫자(3)부터 시작하면 안됩니다.|맞음|
|(h)|99%|불가능|숫자(9)부터 시작하면 안되고 특수문자(%)는 사용할 수 없습니다.|맞음|

> 변수를 지을 때의 규칙
> - 영문 문자와 숫자를 사용할 수 있습니다.
> - 대소문자를 구분합니다.
> - 문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.
> - _(밑줄 문자)로 시작할 수 있습니다.
> - 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
> - 파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

#### 3번문제

In [190]:
a=20
b=30
c=-a
print(c)

-20

In [191]:
del a,b,c

In [215]:
a=20
b=30
b+ =a
print(b)

SyntaxError: invalid syntax (2166200384.py, line 3)

In [196]:
del a,b

In [210]:
a=20
b=30
c=a//b
print(c)

0

In [211]:
del a,b,c

In [212]:
a=20
b=30
c-=b
print(c)

NameError: name 'c' is not defined

In [213]:
del a,b

In [214]:
a=20
b=30
c=a+10
print(c)

30

## 6.6. 연습문제 : 정수 세 개를 입력받고 합계 출력하기

## 6.7. 심사문제 : 변수 만들기

In [216]:
a=50
b=100
c=None
print(a)
print(b)
print(c)

50
100
None

6.8. 심사문제 : 평균 점수 구하기

In [225]:
a,b,c,d=map(int,input().split())
average=int((a+b+c+d)/4)
print(average)

10 20 30 40
25

## 6.9*. 스스로 만든 문제

리스트 L은 다음과 같이 정의되어 있다.

In [158]:
L=[5, 5.3, '5']

이때, L의 세 원소(?) 5, 5.3, '5'의 데이터타입을 출력하는 코드를 만들어라. (함수 map, type을 사용하여라.)

In [ ]:
[int, float, str]

In [266]:
type(5)

int

In [268]:
a,b,c=map(type,L)
print(a)
print(b)
print(c)

<class 'int'>
<class 'float'>
<class 'str'>

# 7. 출력 방법 알아보기

## 7.1. 값을 여러 개 출력하기

In [226]:
print(1,2,3)
print('hello','python')

1 2 3
hello python

### 7.1.1. sep 사이에 문자 넣기

In [227]:
print(1,2,3)
print(1,2,3,sep=',')
print(1,2,3,sep='')
print(1,2,3,sep=' ')
print(1,2,3,sep='  ')

1 2 3
1,2,3
123
1 2 3
1  2  3

## 7.2. 줄바꿈 활용하기

In [228]:
print(1,2,3)
print(1,2,3,sep='\n')

1 2 3
1
2
3

여기까지 쓰고 \n 줄을 바꾸겠다.

In [235]:
print('여기까지 쓰고 \n 줄을 바꾸겠다.')

여기까지 쓰고
 줄을 바꾸겠다.

In [236]:
'여기까지 쓰고 \n 줄을 바꾸겠다.'

'여기까지 쓰고 \n 줄을 바꾸겠다.'

In [242]:
print('여기까지 쓰고' \n '줄을 바꾸겠다.')

SyntaxError: unexpected character after line continuation character (2394039199.py, line 1)

In [243]:
print('x가 ',30,'이고 y가',20,'이면 \n x+y는',50,'이다.')

x가  30 이고 y가 20 이면
 x+y는 50 이다.

- \n은 문자열 안에 사용한다.

### 7.2.1. end 사용하기

>기본적으로 print의 end에 \n이 지정되어 있다.

In [244]:
print(1)
print(2)
print(3)

1
2
3

In [246]:
print(1,end='\n')
print(2,end='\n')
print(3)

1
2
3

In [245]:
print(1,end='')
print(2,end='')
print(3)

123

In [247]:
print(1,end=' ')
print(2,end=' ')
print(3)

1 2 3

## 7.3. 퀴즈

#### 3번 문제

In [250]:
print('Hello', 'Python')
print('Hello\nPython')
print('Hello', 'Python',end='\n')
print('Hello', 'Python',sep='\n')
print('Hello','\n', 'Python',sep='')

Hello Python
Hello
Python
Hello Python
Hello
Python
Hello
Python

## 7.4. 연습문제 : 날짜와 시간 출력하기

## 7.5. 심사문제 :  날짜와 시간 출력하기

In [251]:
year, month, day, hour, minute, second = input().split()

2022 8 23 4 00 00

In [256]:
print(year,month,day,sep='-',end='T')
print(hour, minute, second, sep=':')

2022-8-23T4:00:00

## 7.6*. 스스로 만든 문제

In [270]:
name, campus, 기, 회차 = input().split()
print(name,campus,기,회차,sep='/')

김선중 쏘카 3기 17회차
김선중/쏘카/3기/17회차

In [269]:
name, campus, 기, 회차 = input().split()

김선중 쏘카 3기 17회차

In [271]:
print('hello');print('world')

hello
world

# **서로 만든 문제들(8월 23일)

#### 연수님 문제

In [281]:
url="http://sharebook.kr"

In [290]:
url_split=url.split('.')
print(url_split)
print(type(url_split))
print(url_split[-1])

['http://sharebook', 'kr']
<class 'list'>
kr

In [285]:
print(url[-2:])

kr

#### 희성님 문제

In [279]:
a=-6
a is -6

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_174/2522190273.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is -6

False

In [280]:
a=-5
a is -5

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_174/910685623.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is -5

True

In [274]:
a=4
a is 4

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_174/3917151905.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 4

True

# 8. 불과 비교논리 연산자 사용하기

## 8.1. 불과 비교 연산자 사용하기

In [293]:
True

True

In [294]:
False

False

### 8.1.1. 비교 연산자의 판단 결과

In [296]:
3>1

True

In [295]:
1>3

False

### 8.1.2. 숫자가 같은지 다른지 비교하기

In [297]:
10==10

True

In [298]:
10!=5

True

### 8.1.3. 문자열이 같은지 다른지 비교하기

In [301]:
'Python' == 'Python'

True

In [303]:
'Python' == 'python'

False

### 8.1.4. 부등호 사용하기

In [304]:
10>20

False

### 8.1.5. 객체가 같은지 다른지 비교하기

In [305]:
1==1.0

True

>1과 1.0은 정수와 실수라는 차이점이 있지만 값은 같다.

In [306]:
1 is 1.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_174/3336455986.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1.0

False

>1과 1.0은 각각 정수 객체, 실수 객체이므로 객체로서는 서로 다르다.

In [309]:
print(id(1),id(1.0),sep='\n')

140467712256304
140467644419856

## 8.2. 논리 연산자 사용하기

### 8.2.1. 논리 연산자와 비교 연산자를 함께 사용하기

In [315]:
print(bool(0))
print(bool(1))
print(bool(2))
print(bool(3))
print(bool(0.0))
print(bool(0.00))

False
True
True
True
False
False

$$\text{bool}(x)=\begin{cases}
\text{'False'}&(x==0)\\
\text{'True'}&(\text{otherwise})
\end{cases}$$

> 문자열 'Python'도 불로 따지면 True라서 True and True가 되어 True가 나올 것 같지만 'Python'이 나왔습니다. 왜냐하면 파이썬에서 논리 연산자는 마지막으로 단락 평가를 실시한 값을 그대로 반환하기 때문입니다. 따라서 논리 연산자는 무조건 불을 반환하지 않습니다.

In [326]:
True and 'Python'

'Python'

마지막으로 단락평가를 실시한 값이 'Python'이므로 'Python'이 출력된다.

In [327]:
True or 'Python'

True

"True or"에서 이미 boolean 값이 True로 결정된다.

In [336]:
'Python' and True

True

마지막으로 단락평가를 실시한 값이 True이므로 True가 출력된다.

In [330]:
'Python' or True

'Python'

"or True"에서 이미 boolean 값이 True로 결정된다.

In [332]:
False and 'Python'

False

"False and"에서 이미 boolean 값이 False로 결정된다.

In [333]:
False or 'Python'

'Python'

마지막으로 단락평가를 실시한 값이 'Python'이므로 'Python'이 출력된다.

In [334]:
'Python' and False

False

"and False"에서 이미 boolean 값이 False로 결정된다.

In [337]:
'Python' or False

'Python'

★★★★★★ 이건 뭐지?

가설 : A or B는 $max\{A,B\}$의 의미이다.
예를 들어

True or True = max{1,1}=1=True

True or False = max{1,0}=1=True

False or True = max{0,1}=1=True

False or False = max{0,0}=0=False

그런데 임의의 문자열 x에 대하여 x\ge0이다. 따라서

'Python' or False = max{x,0}=x='Python'

이다. 즉 A or B = $\max\{A, B\}$, A and B = $\min\{A, B\}$라는 것인데, 이 가설은 $(A,B)\in\{0,1\}^2$인 경우에는 참이다. 하지만 다른 경우에는 예외가 있다. $0\le\text{'Python'}\le1$로 가정하고 생각해봤을 때, 

'Python' and True = True

인 것이 설명되지 않는다.

'Python' and True = $\min\{\text{'Python'}, 1\}$='Python' 이어야 할 것 같기 떄문이다.

In [321]:
True and 10

10

In [338]:
True or 10

True

In [340]:
10 and True

True

In [341]:
10 or True

10

In [342]:
False and 10

False

In [343]:
False or 10

10

In [344]:
10 and False

False

In [345]:
10 or False

10

'Python'을 10으로 대체했을 때에도 결과가 완전히 같다.

In [339]:
True+2

3

True는 숫자 1로도 동작한다.

In [323]:
print(type(True))

<class 'bool'>

In [324]:
True and 'Python'

'Python'

## 8.3. 퀴즈

#### 2번 문제

In [346]:
6==2*3

True

In [347]:
6 is 2*3

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_174/1350344336.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  6 is 2*3

True

In [348]:
print(type(2*3))

<class 'int'>

#### 3번 문제

In [349]:
a=10 or b=10

SyntaxError: cannot assign to operator (4282741320.py, line 1)

In [350]:
True or b=10

SyntaxError: cannot assign to operator (2165501183.py, line 1)

In [351]:
True or b

True

## 8.4. 연습문제 : 합격 여부 출력하기

In [353]:
a,b,c,d = map(int,input().split())
print(a >= 90 and b > 80 and c > 85 and d >=80)

100 100 100 50
False

# 9. 문자열 사용하기

## 9.1. 문자열 사용하기

In [361]:
hello = 'Hello, world!'
hello

'Hello, world!'

In [362]:
hello = "Hello, world"
hello

'Hello, world'

In [363]:
hello = ''Hello, world!''
hello

SyntaxError: invalid syntax (4072323194.py, line 1)

In [364]:
hello = """Hello, world!""
hello

SyntaxError: EOF while scanning triple-quoted string literal (4098890314.py, line 2)

In [365]:
hello = '''Hello, world!'''
hello

'Hello, world!'

In [366]:
hello = """Hello, world!"""
hello

'Hello, world!'

In [367]:
hello = ''''Hello, world!''''
hello

SyntaxError: EOL while scanning string literal (958330681.py, line 1)

In [368]:
hello = '''''Hello, world!'''''
hello

"''Hello, world!"

작은따옴표 혹은 큰따옴표가가 홀수개이면 먹히지만, 짝수개일때는 먹히지 않는다. 가령 '''Hello, world!'''라고 적을 때에 맨 앞의 작은따옴표 세 개에서 앞의 두 개는 서로 상쇄되어 없어지는 것 같다. 그러니까 실제로는 작은따옴표가 한 개 있는 것과 같은 것이다.

하지만 다음 예에서 보듯 '와 '''는 차이가 있는 것 같기도 하다.

### 9.1.1. 여러 줄로 된 문자열 사용하기.

In [372]:
hello = '''Hello world!
안녕하세요.
Python입니다.'''
print(hello)

Hello world!
안녕하세요.
Python입니다.

In [373]:
hello = '''Hello world!
안녕하세요.
Python입니다.'''
hello

'Hello world!\n안녕하세요.\nPython입니다.'

In [378]:
hello = 'Hello world!
안녕하세요.
Python입니다.'
print(hello)

SyntaxError: EOL while scanning string literal (4150390292.py, line 1)

In [379]:
hello = ''Hello world!
안녕하세요.
Python입니다.''
print(hello)

SyntaxError: invalid syntax (664608060.py, line 1)

In [380]:
hello = ''''Hello world!
안녕하세요.
Python입니다.''''
print(hello)

SyntaxError: EOL while scanning string literal (423250409.py, line 3)

In [381]:
hello = '''''Hello world!
안녕하세요.
Python입니다.'''''
print(hello)

''Hello world!
안녕하세요.
Python입니다.

이번에도 다섯 개는 세 개와 마찬가지로 된다. 한 개, 두 개, 네 개는 안된다.

In [388]:
hello = """Hello world!
안녕하세요.
Python입니다."""
print(hello)

Hello world!
안녕하세요.
Python입니다.

### 9.1.2. 문자열 안에 작은따옴표나 큰따옴표 포함하기

In [383]:
s = "Python isn't difficult"
print(s)

Python isn't difficult

In [385]:
s = 'Python isn\'t difficult'
print(s)

Python isn't difficult

In [384]:
s = 'He said "Python is easy"'
print(s)

He said "Python is easy"

In [386]:
s = "He said \"Python is easy\""
print(s)

He said "Python is easy"

## 9.2. 퀴즈

#### 3번 문제

In [396]:
print('Hello, \'Python\'')

Hello, 'Python'

In [397]:
print('Hello, 'Python'')

SyntaxError: invalid syntax (2109327760.py, line 1)

In [398]:
print("Hello, 'Python'")

Hello, 'Python'

In [399]:
print(""""Hello", Python""")

"Hello", Python

In [400]:
print(""Hello", Python")

SyntaxError: invalid syntax (3245846950.py, line 1)