# 24. 문자열 응용하기

- string
- `str`

## 24.1. 문자열 조작하기

문자열과 관련한 여러 매서드들이 있다.

|매서드|설명|문법|반환|분류|비고|
|:-:|:-:|:-:|:-:|:-:|:-:|
|`replace`|문자열을 바꾼다.|*str*.`replace`(*str*,*str*)|*str*|*str*의 _method_||
|`maketrans`|translation을 하나 만든다.|<font color=green>**str**</font>.`maketrnas`(*str*,*str*)|*dict*|*type*의 _method_||
|`translate`|translation을 적용한다.|*str*.`translate`(name)|*str*|*str*의 _method_||
|`split`|공백을 기준으로 문자열을 분리하여 리스트를 만든다.|*str*.`split`()|*list*|*str*의 _method_|공백->특정문자열|
|`join`|구분자 문자열과 문자열 리스트의 요소들을 연결하여 문자열로 만든다.|*str*.`join`(*list*)|*str*|*str*의 _method_||
|`upper`|모든 소문자를 대문자로 바군다.|*str*.`upper`()|*str*|*str*의 _method_||
|`lower`|모든 대문자를 소문자로 바꾼다.|*str*.`lower`()|*str*|*str*의 _method_||
|`lstrip`|왼쪽 공백을 삭제한다.|*str*.ll`lstrip`()|*str*|*str*의 _method_|공백->특정문자열|
|`rstrip`|오른쪽 공백을 삭제한다.|*str*.`rstrip`()|*str*|*str*의 _method_|공백->특정문자열|
|`strip`|모든 공백을 삭제한다.|*str*.l`strip`()|*str*|*str*의 _method_|공백->특정문자열|
|`ljust`|주어진 문자열을 왼쪽 정렬하고 나머지는 공백으로 채운다.|*str*.`ljust`(*int*) |*str*|*str*의 _method_||
|`rjust`|주어진 문자열을 오른쪽 정렬하고 나머지는 공백으로 채운다.|*str*.`rjust`(*int*) |*str*|*str*의 _method_||
|`center`|주어진 문자열을 가운데 정렬하고 나머지는 공백으로 채운다.|*str*.`center`(*int*) |*str*|*str*의 _method_||
|`zfill`|주어진 문자열을 왼쪽 정렬하고 나머지는 공백으로 채운다.|*str*.`zfill`(*int*) |*str*|*str*의 _method_||
|`find`(*str*), `index`(*str*)|해당 문자열 안에 특정 문자열의 위치를 (왼쪽부터) 찾는다.|*str*.`find`(*str*)|*int*|*str*의 _method_||
|`rfind`(*str*), `rindex`(*str*)|해당 문자열 안에 특정 문자열의 위치를 (오른쪽부터) 찾는다.|*str*.`rfind`(*str*)|*int*|*str*의 _method_||
|`count`(*str*)|해당 문자열 안에 특정 문자열의 개수를 센다.|*str*.`count`(*str*)|*int*|*str*의 _method_||

### 24.1.1 문자열 바꾸기

`replace` : 문자열을 바꾼다.

In [1]:
'Hello, world!'.replace('world','python')

'Hello, python!'

In [21]:
s = 'Hello world!'
s.replace('world','python')
print(s)

Hello world!

In [26]:
print(str.replace)
print(type(str.replace))

<method 'replace' of 'str' objects>
<class 'method_descriptor'>

### 24.1.2. 문자 바꾸기

- `maketrans` : translation을 하나 만든다.
- `translate` : translation을 적용한다.

In [20]:
table = str.maketrans('aeiou','12345')
'apple'.translate(table)

'1ppl2'

In [15]:
print(table)
print(type(table))

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}
<class 'dict'>

<font color=red> 이건 어떤 딕셔너리지? </font>

In [16]:
print(str)
print(type(str))

<class 'str'>
<class 'type'>

In [17]:
print(str.maketrans)
print(type(str.maketrans))

<built-in method maketrans of type object at 0x55bd81591d40>
<class 'builtin_function_or_method'>

In [18]:
print(str.translate)
print(type(str.translate))

<method 'translate' of 'str' objects>
<class 'method_descriptor'>

In [19]:
# 한줄에 시행해보기
'apple'.translate(str.maketrans('aeiou','12345'))

'1ppl2'

### 24.1.3. 문자열 분리하기

`split` : 공백을 기준으로 문자열을 분리하여 리스트를 만든다.

In [23]:
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [29]:
print(str.split)
print(type(str.split))

<method 'split' of 'str' objects>
<class 'method_descriptor'>

### 24.1.4. 구분자 문자열과 문자열 리스트 연결하기

`join` : 구분자 문자열과 문자열 리스트의 요소들을 연결하여 문자열로 만든다.

In [30]:
' '.join(['apple', 'pear', 'grape'])

'apple pear grape'

In [31]:
'1'.join(['apple', 'pear', 'grape'])

'apple1pear1grape'

In [39]:
print(str.join,type(str.join))

<method 'join' of 'str' objects> <class 'method_descriptor'>

### 24.1.5. 소문자를 대문자로 바꾸기
### 24.1.6. 대문자를 소문자로 바꾸기

In [36]:
'Python'.upper()

'PYTHON'

In [37]:
'Python'.lower()

'python'

In [38]:
print(str.upper,type(str.upper))
print(str.lower,type(str.lower))

<method 'upper' of 'str' objects> <class 'method_descriptor'>
<method 'lower' of 'str' objects> <class 'method_descriptor'>

### 24.1.7. 왼쪽 공백 삭제하기
### 24.1.8. 오른쪽 공백 삭제하기
### 24.1.9. 양쪽 공백 삭제하기
### 24.1.10. 왼쪽의 특정 문자 삭제하기
### 24.1.11. 오른쪽의 특정 문자 삭제하기
### 24.1.12. 양쪽의 특정 문자 삭제하기

- `lstrip()` : 왼쪽 공백 삭제
- `rstrip()` : 오른족 공백 삭제
- `strip()` : 양쪽 공백 삭제
- `lstrip(str)` : 왼쪽 특정문자 삭제
- `rstrip(str)` : 오른쪽 특정문자 삭제
- `strip(str)` : 양쪽 특정문자 삭제

In [45]:
" python  ".lstrip()

'python  '

In [41]:
" python  ".rstrip()

' python'

In [42]:
" python  ".strip()

'python'

In [48]:
"...python..".lstrip('.')

'python..'

In [49]:
"...python..".rstrip('.')

'...python'

In [50]:
"...python..".strip('.')

'python'

In [44]:
print(str.lstrip,type(str.lstrip))
print(str.rstrip,type(str.rstrip))
print(str.strip,type(str.strip))

<method 'lstrip' of 'str' objects> <class 'method_descriptor'>
<method 'rstrip' of 'str' objects> <class 'method_descriptor'>
<method 'strip' of 'str' objects> <class 'method_descriptor'>

### 24.1.13. 문자열을 왼쪽 정렬하기
### 24.1.14. 문자열을 오른쪽 정렬하기
### 24.1.15. 문자열을 가운데 정렬하기

- `ljust(int)` : 주어진 문자열을 왼쪽 정렬하고 빈공간은 여백으로 처리.
- `rjust(int)` : 주어진 문자열을 오른쪽 정렬하고 빈공간은 여백으로 처리.
- `center(int)` : 주어진 문자열을 가운데 정렬하고 빈공간은 여백으로 처리.

In [54]:
print('python'.ljust(10))
print('python'.rjust(10))
print('python'.center(10))

python
    python
  python

In [55]:
a = 'python'.ljust(10)
print(len(a))

10

### 24.1.16. 메서드 체이닝

메서드를 줄줄이 연결한다.

In [56]:
'python'.rjust(10).upper()

'    PYTHON'

### 24.1.17. 문자열 왼쪽에 0 채우기

`zfill(n)`: 문자열 왼쪽에 0을 채워 lenth n인 문자열을 만든다.

In [59]:
print('35'.zfill(4))
print('3.5'.zfill(4))
print('hello'.zfill(4))
print('35'.zfill(10))
print('3.5'.zfill(10))
print('hello'.zfill(10))

0035
03.5
hello
0000000035
00000003.5
00000hello

### 24.1.18. (왼쪽에서부터) 문자열 위치 찾기

### 24.1.19. 오른쪽에서부터 문자열 위치 찾기

### 24.1.20. 왼쪽에서부터 문자열 위치 찾기

### 24.1.21. 오른쪽에서부터 문자열 위치 찾기

- `find(str)`, `index(str)` : 해당 문자열 안에 특정 문자열의 위치를 (왼쪽부터) 찾는다.
- `rfind(str)`, `rindex(str)` : 해당 문자열 안에 특정 문자열의 위치를 (오른쪽부터) 찾는다.

In [87]:
print('calculus'.find('c'))
print('calculus'.rfind('c'))
print('calculus'.index('c'))
print('calculus'.rindex('c'))

0
3
0
3

|character|<font color=red>c</font>|a|l|<font color=red>c</font>|u|l|u|s|
|:-:|-|-|-|-|-|-|-|-|
|index|<font color=red>0</font>|1|2|<font color=red>3</font>|4|5|6|7|

### 24.1.22. 문자열 개수 세기

In [90]:
print('calculus'.count('c'))

2

In [91]:
C = 'calculus'
print(len(C))
print(C.count('c'))
print(str.count)
print(len)

8
2
<method 'count' of 'str' objects>
<built-in function len>

## 24.2. 문자열 서식 지정자와 포매팅 사용하기

 - 서식 지정자 : format specifier
  - `str` %x `str` %y
    - y : `str`,`int`, `float`
    - %x : %s, %d, %f
    - %x에 y를 대입해서 출력한다.
  - `str` %.nf`str` % y
    - y : `int`, `float`
    - 숫자 y를 소수 n째짜리까지 출력한다.
  - `str` %ns`str` % y
    - %ns에 y를 대입하되, 오른쪽정렬하고 n개의 문자열로 출력한다.
    - y : `str`
 - format 매서드 : string formatting
  - `str`,{},`str`,{}.format{x,y}
    - 두 중괄호 대신 각각 x와 y를 대입하여라.
    - 중괄호 안에 정수를 넣어 순서를 특정해 넣거나 중복해서 넣을 수 있다.
    - 중괄호 안에 변수를 넣을 수 있다.
  - f'`str` {variable}'
    - {variable}에 이미 지정한 변수를 대입해 출력한다.
    - 여러 개의 변수를 넣을 수 있다.
  - '{0:x<n}'.format(`str`)
    - `str`을 왼쪽 정렬(<)하고 n개의 문자열로 출력하며 x를 padding한다.
    - 0은 생략되어도 좋다.
    - x도 생략되어도 좋다. 생략된다면, 여백이 padding된다.
 - 기타 응용
    - `'%03d' % 35`, `'{0:03d}'.format(35)`
      - 출력 : 035
      - 앞에 0을 padding하되 3개의 문자열을 출력한다.
    - `'%08.2f' % 3.6`,`'{0:08.2f}'.format(3.6)`
      - 출력 : 00003.60
      - 앞에 0을 padding하되 소수점 두자리까지 표현하고, 8개의 문자열을 출력한다.

### 24.2.1. 서식 지정자로 문자열 넣기

In [92]:
'I am %s.' % 'james'

'I am james.'

 - **literally** : 'I am %s.'라는 문자열을 출력하되, %s라고 표시된 곳에는 % 이하의 부분, 즉 'james'를 넣어라.
 - `%s`는 `str` 형식을 쓰겠다는 뜻이다.

In [93]:
name = 'maria'
'I am %s' % name

'I am maria'

### 24.2.2. 서식 지정자로 숫자 넣기

In [94]:
'I am %d years old.' % 20

'I am 20 years old.'

 - **literally** : 'I am %d years old.'라는 문자열을 출력하되, %d라고 표시된 곳에는 % 이하의 부분, 즉 20를 넣어라.
 - decimal integer : <font color=red> 소수점을 버리고 integer를 만든다는 뜻인가? </font>
 - `%` 이하 부분은 `int`와 `float`이 들어갈 수 있는 것 같다.

In [95]:
'I am %d years old.' % 20.2

'I am 20 years old.'

In [96]:
'I am %d years old.' % '20'

TypeError: %d format: a number is required, not str

### 24.2.3. 서식 지정자로 소수점 표현하기

In [100]:
'%f' % 2.3

'2.300000'

 - **literally** : '%f'를 출력하여라.
  - 단 `%f`라고 표시된 곳에는 `%` 이하의 부분, 즉 2.3를 넣어라.
  - 소수점 이하 6자리까지 표시하는 것이 default이다.
 - floating point
 - `%` 이하 부분은 `int`와 `float`이 들어갈 수 있는 것 같다.

In [98]:
'%f' % 2

'2.000000'

In [99]:
'%f' % '2'

TypeError: must be real number, not str

In [101]:
'%.2f' % 2.3

'2.30'

In [ ]:
'%.2f' % 2.3

소수점 이하 2자리까지 출력하여라.

### 24.2.4. 서식 지정자로 문자열 정렬하기

In [104]:
print('%10s' % 'python')
print('python'.rjust(10))

    python
    python

### 24.2.5. 서식 지정자로 문자열 안에 여러 개 넣기

In [105]:
'Today is %d %s.' % (3, 'April')

'Today is 3 April.'

### 24.2.6. format 매서드 사용하기

In [106]:
'Hello, {0}'.format('world!')

'Hello, world!'

In [108]:
'Hello, {0}'.format('100')

'Hello, 100'

In [109]:
'Hello, {0}'.format(100)

'Hello, 100'

In [107]:
'Hello, {}'.format('world!')

'Hello, world!'

### 24.2.7. format 매서드로 값을 여러 개 넣기

In [110]:
'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

'Hello, Python 3.6 Script'

In [112]:
'Hello, {} {} {}'.format('Python', 'Script', 3.6)

'Hello, Python Script 3.6'

### 24.2.8. format 매서드로 같은 값을 여러 개 넣기

In [113]:
'{0} {0} {1} {1}'.format('Python', 'Script')

'Python Python Script Script'

### 24.2.9. format 매서드에서 인덱스 생략하기

In [114]:
'Hello, {} {} {}'.format('Python', 'Script', 3.6)

'Hello, Python Script 3.6'

### 24.2.10. format 매서드에서 인덱스 대신 이름 지정하기

In [115]:
'Hello, {language} {version}'.format(language='Python', version=3.6)

'Hello, Python 3.6'

### 24.2.11. 문자열 포매팅에 변수 그대로 사용하기

In [118]:
language = 'Python'
version = 3.6
print(f'Hello, {language} {version}')
print('Hello, Python 3.6')

Hello, Python 3.6
Hello, Python 3.6

### 24.2.12. format 매서드로 문자열 정렬하기
### 24.2.14. 채우기와 정렬을 조합해서 사용하기

두 subsubsection이 서로 연관되어 있으므로 12와 14를 붙였다. 13은 밑에 적었다.

In [158]:
print('{0:<10}'.format('python'))
print('{0:>10}'.format('python'))
print('{:<10}'.format('python'))
print('{:>10}'.format('python'))
print('python'.ljust(10))
print('python'.rjust(10))
print('{0:0<10}'.format('python'))
print('{0:0>10}'.format('python'))
print('{:0<10}'.format('python'))
print('{:0>10}'.format('python'))

python
    python
python
    python
python
    python
python0000
0000python
python0000
0000python

In [ ]:
print('{0:<10}'.format('python'),'1')
print('python'.ljust(10),'1')

### 24.2.13. 숫자 개수 맞추기

In [139]:
print('%03d' % 1)
print('%03d' % 35)
print('{0:03d}'.format(1))
print('{0:03d}'.format(35))

001
035
001
035

In [144]:
print('%08.2f' % 3.6)
print('%08.2f' % 150.37)
print('{0:08.2f}'.format(3.6))
print('{0:08.2f}'.format(150.37))

00003.60
00150.37
00003.60
00150.37

## 24.3. 퀴즈

2번 문제

In [159]:
print('Python'.lower().replace('on', 'ON').ljust(10))

pythON

3번 문제

In [160]:
'{hello}, {language} 3.6'.format(hello='Hello', language='Python')

'Hello, Python 3.6'

In [161]:
'%s%s%s' % ('Hello,', 'Python', '3.6')

'Hello,Python3.6'

4번 문제

In [168]:
print('{0:>12.4f}'.format(1675.3)) # basic
#print('{ :>12.4f}'.format(1675.3))
print('{:>12.4f}'.format(1675.3)) #c
print('{: >12.4f}'.format(1675.3)) #d
print('{:0>12.4f}'.format(1675.3)) #e

   1675.3000
   1675.3000
   1675.3000
0001675.3000

## 24.4. 연습문제

In [172]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'
x = path.split('\\')
filename = x[-1]
print(filename)

python.exe

In [173]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'
x = path.split('\\')
x.reverse()
filename = x[0]
print(filename)

python.exe

In [177]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'
filename = path[path.rfind('\\') + 1:] # 이건 자세히 보지 않았다.
print(filename)

python.exe

## 24.5. 심사문제

In [238]:
A = input().split()
B = []
for word in A:
    temp = word.strip('.,')
    B.append(temp)
print(B.count('the'))

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

답 : 6

the python and the java are the important ones in these communities. So we can breathe. the,

답 : 3

## 24.6. 심사문제

51900;83000;158000;367500;250000;59200;128500;1304000

In [6]:
A = input()
B = A.split(';')
C = list(map(int, B))
C.sort(reverse=True)
for c in C:
    d = '{:>9,}'.format(c)
    print(d)

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

In [4]:
A = '51900;83000;158000;367500;250000;59200;128500;1304000'
B = A.split(';')
C = list(map(int, B))
C.sort(reverse=True)
for c in C:
    d = '{:>9,}'.format(c)a
    print(d)

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

# 25. 딕셔너리 응용하기

딕셔너리는 복잡하기도 복잡하거니와 양이 너무 많다.
따라서 따로 내용 정리는 하지 않고, 주어진 코드들을 다 실행해보는 것에만 목표를 두어야겠다.

(다 공부하고 퀴즈도 풀었다.) 그렇긴 하지만 그래도 어떤 dictionary에 어떤 method들이 있는지는 나열해놓으면 좋을 것 같다.

딕셔너리와과 관련한 여러 매서드들이 있다.
한 매서드에도 여러 활용과 문법이 있지만, 대표적인 문법 하나씩만 적겠다.
 - 아래에서 key라고 적는 것은 그것이 key의 역할을 한다는 뜻이지, key 클래스라는 뜻은 아니다. (그런 클래스는 없다 <font color=red> ?</font>)
 - 마찬가지로 value라고 적는 것은 그것이 value의 역할을 한다는 뜻이다.

|매서드|설명|문법|반환|분류|비고|
|:-:|:-:|:-:|:-:|:-:|:-:|
|`setdefault`|키-값 쌍을 추가한다.|*dict*.`setdefault`(key,value)|x|*dict*의 _method_||
|`update`|키의 값을 수정한다.|*dict*.`update`(key,value)|x|*dict*의 _method_||
|`pop`|키를 삭제한다.|*dict*.`pop`(key)|삭제되는 value|*dict*의 _method_||
|`del`|키를 삭제한다.|*dict*.`pop`[key]|x|*dict*의 _method_||
|`popitem`|마지막 키-값 쌍을 삭제한다.|*dict*.`popitem`()|삭제되는 (key, value)|*dict*의 _method_||
|`clear`|모든 키-값 쌍을 삭제한다.|*dict*.`clear`()|x|*dict*의 _method_||
|`get`|키의 값을 가져온다.|*dict*.`get`()|해당되는 value|*dict*의 _method_||
|`items`|모든 키-값 쌍을 가져온다.|*dict*.`items`()|x|_dict_items_||
|`keys`|모든 키들을 가져온다.|*dict*.`keys`()|x|_dict_keys_||
|`values`|모든 값들을 쌍을 가져온다.|*dict*.`values`()|x|_dict_values_||
|`copy`|복사한다.|*dict*.`copy`()|x|_module_||
|`deepcopy`|깊게복사한다.|*dict*.`copy.deepcopy`()|x|*copy*의 _function_||

그래도 얼추 정리는 된 것 같다.
하지만 완벽하지는 못하다.
반환값 말고도 그 결과값이 무엇인지 명시하면 좋을텐데, 그렇게 하려면 머리가 너무 아프다.

## 25.1. 딕셔너리 조작하기

### 25.1.1. 딕셔너리에 키-값 쌍 추가하기
 - `setdefault` : 키-값 쌍 추가
 - `update` : 키의 값 수정, 키가 없으면 키-값 쌍 추가

### 25.1.2. 딕셔너리에 키와 기본값 저장하기
`setdefault` : 딕셔너리에 키-값 쌍을 추가한다.

In [297]:
x = {'a': 10,'b': 20,'c': 30,'d': 40}
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [301]:
x = {'a': 10,'b': 20,'c': 30,'d': 40}
x.setdefault('e')
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [11]:
x.setdefault('f',100)
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

### 25.1.3. 딕셔너리에서 키의 값 수정하기
`update` : 딕셔너리에서 키의 값을 수정한다.

In [13]:
x = {'a': 10,'b': 20,'c': 30,'d': 40}
x.update(a=90)
print(x)

{'a': 90, 'b': 20, 'c': 30, 'd': 40}

In [14]:
x.update(e=50)
print(x)

{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [15]:
x.update(a=900,f=60)
print(x)

{'a': 900, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

In [19]:
y = {1:"one",2:"two"}
print(y)
y.update({1:"ONE",3:"THREE"})
print(y)

{1: 'one', 2: 'two'}
{1: 'ONE', 2: 'two', 3: 'THREE'}

In [302]:
y.update([[2,'TWO'],[4,'FOUR']])
print(y)

{'a': {'python': '3.9'}, 'b': {'python': '3.6'}, 2: 'TWO', 4: 'FOUR'}

### 25.1.4. 딕셔너리에서 키-값 쌍 삭제하기

In [24]:
x = {'a':10, 'b':20,'c':30,'d':40}
x.pop('a')

10

In [25]:
print(x)

{'b': 20, 'c': 30, 'd': 40}

In [26]:
x.pop('z',0)

0

In [28]:
x = {'a':10, 'b':20,'c':30,'d':40}
del x['a']
print(x)

{'b': 20, 'c': 30, 'd': 40}

### 25.1.5. 딕셔너리에서 마지막 키-값 쌍 삭제하기

 - Python 3.5 이하에서는 '마지막'이라는 말이 '임의의'라는 말로 바뀌어야 한다.
 - 하지만, 지금은 Python 3.9를 사용하고 있으므로 '마지막'이 맞을 것이다.

In [305]:
x = {'a':10, 'b':20,'c':30,'d':40}
x.popitem()

('d', 40)

In [32]:
print(x)

{'a': 10, 'b': 20}

In [36]:
print(dict.popitem,type(dict.popitem))

<method 'popitem' of 'dict' objects> <class 'method_descriptor'>

### 25.1.6. 딕셔너리의 모든 키-값 쌍을 삭제하기

In [307]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.clear()
print(x)

{}

### 25.1.7. 딕셔너리에서 키의 값을 가져오기

In [40]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.get('a')

10

In [39]:
x.get('z',0)

0

### 25.1.8. 딕셔너리에서 키-값 쌍을 모두 가져오기

In [49]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
print(x.items())
print(x.keys())
print(x.values())
print(type(x.items()))
print(type(x.keys()))
print(type(x.values()))

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])
dict_keys(['a', 'b', 'c', 'd'])
dict_values([10, 20, 30, 40])
<class 'dict_items'>
<class 'dict_keys'>
<class 'dict_values'>

### 25.1.9. 리스트와 튜플로 딕셔너리 만들기

In [50]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
print(x)

{'a': None, 'b': None, 'c': None, 'd': None}

In [51]:
print(dict.fromkeys)
print(type(dict.fromkeys))

<built-in method fromkeys of type object at 0x55c2a715e0a0>
<class 'builtin_function_or_method'>

## 25.2. 반복문으로 딕셔너리의 키-값 쌍을 모두 출력하기

In [52]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items():
    print(key,value)

a 10
b 20
c 30
d 40

In [54]:
print(dict.items)
print(type(dict.items))
print(dict.items(x))
print(type(dict.items(x)))

<method 'items' of 'dict' objects>
<class 'method_descriptor'>
dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])
<class 'dict_items'>

### 25.2.1. 딕셔너리의 키만 출력하기
### 25.2.2. 딕셔너리의 값만 출력하기

In [62]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key in x.keys():
    print(key, end = ' ')
print()
for value in x.values():
    print(value, end = ' ')

a b c d
10 20 30 40

## 25.3. 딕셔너리 표현 식 사용하기

In [68]:
keys = ['a', 'b', 'c', 'd']
x = {key: value for key, value in dict.fromkeys(keys).items()}
print(x)

{'a': None, 'b': None, 'c': None, 'd': None}

In [71]:
print(dict.fromkeys)
print(type(dict.fromkeys))
print(dict.fromkeys(keys))
print(type(dict.fromkeys(keys)))

<built-in method fromkeys of type object at 0x55c2a715e0a0>
<class 'builtin_function_or_method'>
{'a': None, 'b': None, 'c': None, 'd': None}
<class 'dict'>

In [74]:
y = {key: 0 for key in dict.fromkeys(['a', 'b', 'c', 'd']).keys()} 
print(y)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [76]:
z = {value: key for key, value in {'a': 10, 'b': 20, 'c': 30, 'd': 40}.items()}
print(z)

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

### 25.3.1. 딕셔너리 표현식에서 if 조건문 사용하기

In [77]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key:value for key, value in x.items() if value !=20}
print(x)

{'a': 10, 'c': 30, 'd': 40}

## 25.4. 딕셔너리 안에 딕셔너리 사용하기

In [81]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
print(terrestrial_planet)
print(terrestrial_planet['Venus'])
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

{'Mercury': {'mean_radius': 2439.7, 'mass': 3.3022e+23, 'orbital_period': 87.969}, 'Venus': {'mean_radius': 6051.8, 'mass': 4.8676e+24, 'orbital_period': 224.70069}, 'Earth': {'mean_radius': 6371.0, 'mass': 5.97219e+24, 'orbital_period': 365.25641}, 'Mars': {'mean_radius': 3389.5, 'mass': 6.4185e+23, 'orbital_period': 686.96}}
{'mean_radius': 6051.8, 'mass': 4.8676e+24, 'orbital_period': 224.70069}
6051.8

In [82]:
a= 3E+2
b= 2E+2
a+b

500.0

## 25.5. 딕셔너리의 할당과 복사

In [1]:
x = {'a': 0, 'b': 0, 'c': 0, 'd': 0}
y = x
z = x.copy()

- `y`는 `x`를 그대로 할당한 것이고
- `z`는 `x`를 복사한 것이다.

In [2]:
print(y == x, y is x)
print(z == x, z is x)

True True
True False

 - 할당한 변수 `y`는 원래 변수 `x`와 완전히 같다.
 - 하지만 복사한 변수 `z`는 원래 변수 `x`와 값은 같지만 주소까지 같지는 않다.

In [264]:
x['a']=1
print(y['a'],y['a'] == x['a'],y['a'] is x['a'])
print(z['a'],z['a'] == x['a'],z['a'] is x['a'])

1 True True
0 False False

- `x` 에서 `'a'`의 키값을 변경하면
- `y`에서 `'a'`의 키값은 `x`에 따라서 변경되지만
- `z`에서 `'a'`의 키값은 `x`와 별개로 동작한다. (변경되지 않는다.)

즉, `x`와 독립된 변수 `z`를 만들려면 단순히 *할당*만 해서는 안되고 **복사**해야 한다.

### 25.5.1. 중첩 딕셔너리의 할당과 복사 알아보기

In [327]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = x
x.copy()
import copy
w = copy.deepcopy(x)

- `y`는 `x`를 그대로 할당한 것이고
- `z`는 `x`를 복사한 것이며
- `w`는 `x`를 깊게 복사한 것이다.

In [276]:
print(y == x, y is x)
print(z == x, z is x)
print(w == x, w is x)

True True
True False
True False

 - 할당한 변수 `y`는 원래 변수 `x`와 완전히 같다.
 - 하지만 복사한 변수 `z`는 원래 변수 `x`와 값은 같지만 주소까지 같지는 않다.
 - 깊게 복사한 변수 `w`도 원래 변수 `x`와 값은 같지만 주소까지 같지는 않다.

In [277]:
x['a']['python']='3.9'
print(y['a']['python'],y['a']['python'] == x['a']['python'], y['a']['python'] is x['a']['python'])
print(z['a']['python'],z['a']['python'] == x['a']['python'], z['a']['python'] is x['a']['python'])
print(w['a']['python'],w['a']['python'] == x['a']['python'], w['a']['python'] is x['a']['python'])

3.9 True True
3.9 True True
2.7 False False

- `x`에서 `'a'`의 키값, 에서 `'python'`의 키값을 변경하면
- `y`에서 `'a'`의 키값, 에서 `'python'`의 키값은 변경되고
- `z`에서 `'a'`의 키값, 에서 `'python'`의 키값도 변경되지만
- `w`에서 `'a'`의 키값, 에서 `'python'`의 키값은 별개로 동작한다. (변경되지 않는다.)

따라서, `x`와 독립된 변수 `w`를 만들려면 단순히 *할당*만 해서는 안되고, *복사*를 해도 안되며, 반드시 **깊은 복사**를 해야만 한다.

즉, 원래의 변수 `x`와 (2레벨 이상의 의미에서) 다른 변수 `w`를 만드려면 **깊은 복사**를 해야 한다. (말이 정확치 않다.)

(이후추가) `001_LMS_fundamental_SO3\7-당신의 행운의 숫자는? 나만의 n면체 주사위 위젯 만들기.ipynb`의 7-2에서 : 
 - 혹은 [python copy documentation](https://docs.python.org/3/library/copy.html)에서
 - The difference between shallow and deep copying is only relevant for compound objects (objects that contain other objects, like lists or class instances):
     - A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original.
     - A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.

아래의 예시는 25.5. 이하의 예시와 진배없다. 하지만, 그래도 같은 결과가 나오는지 확인해보려고 한다.

In [266]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = x
z = x.copy()
import copy
w = copy.deepcopy(x)

In [267]:
print(y == x, y is x)
print(z == x, z is x)
print(w == x, w is x)

True True
True False
True False

In [269]:
x['a']={'python': '3.9'}
print(y['a'], y['a'] == x['a'], y['a'] is x['a'])
print(z['a'], z['a'] == x['a'], z['a'] is x['a'])
print(w['a'], w['a'] == x['a'], w['a'] is x['a'])

{'python': '3.9'} True True
{'python': '2.7'} False False
{'python': '2.7'} False False

예상대로, 같은 결과가 나온다.

## 25.6. 퀴즈

1번 문제

In [132]:
# a : 틀렸다.
x = {'Python':1,'Java':2,'C':3}
# x.pop() # error : pop expected at least 1 argument, got 0
x.pop('Python') # 옳은 표현

1

In [123]:
# b : 틀렸다.
x = {'Python':1,'Java':2,'C':3}
x.popitem()

('C', 3)

In [127]:
# c : 맞다.
x = {'Python':1,'Java':2,'C':3}
x.pop('Python',100) # return : 1
print(x)

{'Java': 2, 'C': 3}

In [137]:
# d : 틀렸다.
x = {'Python':1,'Java':2,'C':3}
# x.remove('Python') # error : 'dict' object has no attribute 'remove'

In [140]:
# e : 맞다.
x = {'Python':1,'Java':2,'C':3}
del x['Python'] # return : x
print(x)

{'Java': 2, 'C': 3}

2번 문제 : 올바르지 않은 것은?
 - a. `setdefault`는 딕셔너리에 키-값 쌍을 추가한다. o
 - b. `setdefault`는 키만 지정하면 값은 0으로 지정한다. x / 9이 아니라 None이다.
 - c. `keys`는 딕셔너리의 키-값 쌍을 모두 가져온다. x / 키만 가져온다.
 - d. `clear`는 딕셔너리에 키-값 쌍을 모두 삭제한다. o
 - e. `update`는 딕셔너리에 키의 값을 수정한다. o

3번 문제

In [161]:
# a : 틀렸다.
x = {'a':1,'b':2,'c':3}
# for key, value in x:
#     print(key)
# error : not enough values to unpack (expected 2, got 1)
for key,value in x.items(): # 유효한 답 -> e
    print(key)

a
b
c

In [158]:
# b : 맞다.
x = {'a':1,'b':2,'c':3}
for key in x: # 틀릴 것 같이 보이지만 맞았다.
    print(key)
# for key in x.keys(): # altenative answer -> c
#     print(key)

a
b
c

In [159]:
# c : 맞다.
x = {'a':1,'b':2,'c':3}
for key in x.keys(): # 문법에 정확히 맞다.
    print(key)

a
b
c

In [160]:
# d : 틀렸다.
x = {'a':1,'b':2,'c':3}
for value in x.values(): # 키들을 출력해야 하는데, 값들을 출력하고 있다.
    print(value)

1
2
3

In [162]:
# e : 맞다.
x = {'a':1,'b':2,'c':3}
for key, value in x.items(): # 문법에 정확히 맞다.
    print(key)

a
b
c

4번 문제 : `x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}`일 때, 값이 40인 키-값을 삭제하는 방법은?

In [188]:
# a : 맞을 것 같은데 틀리네?
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items(): # RuntimeError: dictionary changed size during iteration

    if value == 40:
        del x[key]
print(x)

RuntimeError: dictionary changed size during iteration

In [191]:
# 위의 코드를 풀어 쓴 아래 코드는 정상적으로 동작한다.
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
key = list(x.keys())[0]
value = list(x.values())[0]
if value == 40:
    del x[key]
key = list(x.keys())[1]
value = list(x.values())[1]
if value == 40:
    del x[key]
key = list(x.keys())[2]
value = list(x.values())[2]
if value == 40:
    del x[key]
key = list(x.keys())[3]
value = list(x.values())[3]
if value == 40:
    del x[key]
print(x)

{'a': 10, 'b': 20, 'c': 30}

In [208]:
# b : 틀렸다.
# x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
# del x[40] # KeyError: 40
# print(x)

x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
del x['a'] # 옳게 만들어진 코드
print(x)

{'b': 20, 'c': 30, 'd': 40}

In [203]:
# c : 틀렸다.
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items()} # 아무 일도 하지 않았다.
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [204]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = {key: value for key, value in x.items()}
z = x.copy()
print(x == y)
print(x is y) # y는 x와 비교했을 때, 주소만 다를 뿐 그 값이 완전히 같다.
print(y == z)
print(y is z) # y는 z = x.copy()와 비교했을 때에도, 주소가 다르고 값이 같다.

True
False
True
False

In [209]:
# d : 맞다.
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 40} # 문법에 정확히 맞다.
print(x)

{'a': 10, 'b': 20, 'c': 30}

In [210]:
# e : 틀렸다.
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value == 40} # 정답인 d와 반대로 적었다.
print(x)

{'d': 40}

5번 문제 : 쉬운.. 줄 알았는데 어렵네.. 는 아니고 쉽다.

In [217]:
terrestrial_planet = {
    'Earth': {
        'physical_characteristics': {
            'mean_radius': 6371.0,
            'mass': 5.97219E+24
        },
        'orbital_characteristics': {
            'orbital_period': 365.25641,
            'satellites': 1
        }
    },
    'Mars': {
        'physical_characteristics': {
            'mean_radius': 3389.5,
            'mass': 6.4185E+23
        },
        'orbital_characteristics': {
            'orbital_period': 686.9600,
            'satellites': 2
        }
    }
}
terrestrial_planet['Earth']['orbital_characteristics']['satellites']

1

6번 문제 :

In [ ]:
import copy
x = {'python': {'version': '2.7'}, 'script': {'name': 'hello.py'}}
a = x
b = x.copy()
c = copy.deepcopy(x)
x['python']['version'] = '3.6'
print(a['python']['version'], b['python']['version'], c['python']['version'])

 - 원래의 변수 와 (2레벨 이상의 의미에서) 다른 변수 를 만드려면 **깊은 복사**를 해야 한다.(cf. 25.5.1)
 - `a['python']['version']`는 당연히 `x['python']['version']`(=`3.6`)과 같다. (할당)
   - 실제로 두 값은 뼛속까지 같다 (`is`)
 - `b['python']['version']`는 여전히 `x['python']['version']`(=`3.6`)과 같다. (복사)
   - 이 두 값도 뼛속까지 같다 (`is`)
 - `c['python']['version']`는 `x['python']['version']`(=`3.6`)와 다르다. (깊은복사)
   - 이 두 값은 뼛속까지 같지 않을 뿐더러 (`not is`), 값 또한 다르다(`!=`).
   - `c['python']['version']`는 변경되기 전 값인 `2.7`이다.

열심히 적었다.
맞는 말을 적은 것 같다.
하지만 10분 정도만 흐른다고 하더라도 다시 참 거짓을 판별하라고 하면 못하겠다.

## 25.7. 연습문제

In [283]:
maria = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}
print(maria.keys())
A = []
for value in maria.values():
    A.append(value)
print(A)
print(sum(A)/len(A))
#print(average)

dict_keys(['korean', 'english', 'mathematics', 'science'])
[94, 91, 89, 83]
89.25

## 25.8. 심사문제

In [292]:
keys = ['alpha', 'beta', 'gamma', 'delta','epsilon']
values = [10, 20, 30, 40, 0.01]
x = dict(zip(keys,values))
print(x)
x = {key:value for key, value in x.items() if value !=30}
print(x)
del x['delta']
print(x)

{'alpha': 10, 'beta': 20, 'gamma': 30, 'delta': 40, 'epsilon': 0.01}
{'alpha': 10, 'beta': 20, 'delta': 40, 'epsilon': 0.01}
{'alpha': 10, 'beta': 20, 'epsilon': 0.01}

In [293]:
keys = ['alpha', 'bravo', 'charlie', 'delta']
values = [10, 20, 30, 40]
x = dict(zip(keys,values))
print(x)
x = {key:value for key, value in x.items() if value !=30}
print(x)
del x['delta']
print(x)

{'alpha': 10, 'bravo': 20, 'charlie': 30, 'delta': 40}
{'alpha': 10, 'bravo': 20, 'delta': 40}
{'alpha': 10, 'bravo': 20}

입력1 : alpha bravo charlie delta
입력2 : 10 20 30 40

In [295]:
keys = input().split()
values = map(int, input().split())
x = dict(zip(keys,values))
x = {key:value for key, value in x.items() if value !=30}
del x['delta']
print(x)

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

# 26. 세트 이용하기

수학에는 ordered pair $(a,b)$와 unordered pair $\{a,b\}$가 있다.
또한 (ordered) tuple $(a_1,a_2,\cdots,a_n)$과 unordered tuple $\{a_1,a_2,\cdots,a_n\}$이 있다.
즉, ordered pair와 (ordered) tuple에서는 순서가 존재하고 unordered pair와 unordered tuple에서는 순서가 존재하지 않는다.
전자를 (finite) **sequence**라고도 부르고, 후자를 **set** 이라고도 부른다.

파이썬에서 sequence에 해당하는 것은 `list`와 `tuple`이다.
`numpy`까지 확장하면 rank 1의 `np.array`까지도 sequence에 해당한다.
이것은 euclidean vector의 의미와 비슷하게 생각할 수 있지만, `list`와 `tuple`에서는 (벡터공간을 구성하는 두 연산) scalar multiplication과 vector addition에 해당하는 연산들(`*`, `+`)이 선형대수적으로 잘 작동하지 않는다.
반면 `np.array`는 선형대수적으로 scalar multiplication과 vector addition이 잘 작동한다는 이점이 있다.

파이썬에서 **set**에 해당하는 것은 `set`이다.
수학에서의 **set**과 파이썬에서의 `set`이 얼마나 같고 얼마나 다른지는 아직 모르겠다.

|매서드|설명|문법|반환|분류|비고|
|:-:|:-:|:-:|:-:|:-:|:-:|
|`\|`|합집합|*set* `\|`*set*|*set*|연산자||
|`&`|교집합|*set*`&`*set*|*set*|연산자||
|`-`|차집합|*set*`-`*set*|*set*|연산자||
|`^`|대칭차집합|*set*`^`*set*|*set*|연산자||
|`union`|합집합|*set*.`set.union`(*set*)|*set*|*set*의 _method_||
|`intersection`|교집합|*set*.`set.intersection`(*set*)|*set*|*set*의 _method_||
|`difference`|차집합|*set*.`set.difference`(*set*)|*set*|*set*의 _method_||
|`symmetric_difference`|대칭차집합|*set*.`set.symmetric_difference`(*set*)|*set*|*set*의 _method_||
|`update`|합집합|*set*.`update`(*set*)|x|*set*의 _method_||
|`intersection`|교집합|*set*.`intersection_update`(*set*)|x|*set*의 _method_||
|`difference`|차집합|*set*.`difference_update`(*set*)|x|*set*의 _method_||
|`symmetric_difference`|차집합|*set*.`symmetric_difference_update`(*set*)|x|*set*의 _method_||
|`<=`|부분집합|*set* `<=` *set*|*bool*|연산자||
|`>=`|포함집합|*set* `>=` *set*|*bool*|연산자||
|`<`|진부분집합|*set* `<` *set*|*bool*|연산자||
|`>`|진포함집합|*set* `>` *set*|*bool*|연산자||
|`isdisjoint`|서로소|*set*.`isdisjoint`(*set*)|*bool*|*set*의 _method_||
|`add`|특정 요소를 추가한다.|*set*.`add`(ele)|x|*set*의 _method_||
|`remove`|특정 요소를 삭제한다.|*set*.`remove`(ele)|x|*set*의 _method_|특정 요소가 없을시 에러|
|`discard`|특정 요소를 삭제한다.|*set*.`discard`(ele)|x|*set*의 _method_|특정 요소가 없어도 넘어감|
|`pop`|임의의(맨 처음) 요소를 삭제한다.|*set*.`pop`()|삭제된 요소|*set*의 _method_||
|`clear`|모든 요소를 삭제한다.|*set*.`clear`()||*set*의 _method_||
|`len`|요소의 개수를 구한다.|`len`(*set*)||_function_||

In [622]:
print(set.union, type(set.union))
print(set.update, type(set.update))
print(type(2==3))
print(len, type(len))

<method 'union' of 'set' objects> <class 'method_descriptor'>
<method 'update' of 'set' objects> <class 'method_descriptor'>
<class 'bool'>
<built-in function len> <class 'builtin_function_or_method'>

## 26.1. 세트 만들기

In [356]:
A = {'a', 'b', 'c'}
B = {'a', 'c', 'b'} # mixed
C = {'a', 'b', 'c', 'c'} # repeated
print(A)
print(B)
print(C)
print(A is B)
print(A is C)
print(B is C)
print(A == B)
print(A == C)
print(B == C)
print(id(A))
print(id(B))
print(id(C))

{'a', 'b', 'c'}
{'a', 'b', 'c'}
{'a', 'b', 'c'}
False
False
False
True
True
True
140141432308896
140141432310464
140141432308448

수학에서의 **set**과 마찬가지로 순서가 바뀌어도 서로 같다 (`A == B`) 중복된 요소가 존재해도 여전히 같다 (`A == C`)
하지만 완전한 의미에서 같은 것은 아니다. (`not A is B`, `not A is C`)

<font color = red> 이상한 점</font> :

교재에 따르면
> 세트는 요소의 순서가 정해져 있지 않습니다(unordered). 따라서 세트를 출력해보면 매번 요소의 순서가 다르게 나옵니다.

라고 되어 있다.
하지만 실제로 `A`를 여러번 출력한다고 하더라도 순서는 일정하게 나온다.

### 26.1.1. 세트에 특정 값이 있는지 확인하기

In [358]:
A = {'a', 'b', 'c'}
print('a' in A)
print(a in A)

True
False

### 26.1.2. 반복가능한 객체를 사용하여 세트 만들기

반복가능한 객체(iterable object, e.g. `str`, `list`, `dict`, `set`, `range`)로 `set`을 만들 수 있다.
 - 위 subsubsection의 제목은 원래 '26.1.2  set를 사용하여 세트 만들기'였다. 이것을 옳게 바꾸었다.

In [365]:
P = 'Python'
print(set(P))

{'h', 't', 'o', 'y', 'n', 'P'}

In [368]:
R = range(5)
print(set(R))

{0, 1, 2, 3, 4}

In [369]:
E = set()
print(E)

set()

이것은 공집합처럼 생각해도 되는 것 같다.

## 26.2. 집합 연산 사용하기

In [597]:
A = {1,2,3,4}
B = {3,4,5,6}
print(A|B)
print(set.union(A,B))
print(A&B)
print(set.intersection(A,B))
print(A-B)
print(set.difference(A,B))
print(A^B)
print(set.symmetric_difference(A,B))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{1, 2, 5, 6}
{1, 2, 5, 6}

이전에 품었던 의문인`3^5=6`이 해결되었다.
그때 연수님께서 저 `^` 연산이 비트연산자(bitwise operator, XOR)에 해당된다고 말씀하신 적이 있는데, 이것은 정확하게 대칭차집합(symmetric difference)에 대응된다.

- `3^5=6`
|base 10||base 2|base 2|base 2|
|-||-|-|-|
|3||0|1|1|
|5||1|0|1|
|-||-|-|-|
|6||1|1|0|

In [382]:
3^5

6

즉, `^`는 두 집합 사이의 연산이기도 하면서 두 숫자 사이의 연산이기도 하다.
혹시 그렇다면, 숫자나 문자열, 리스트 사이에 '교집합', '합집합', '차집합'이 성립할까?

In [405]:
print(5|3)
print(5&3)
print(5-3)
print(5^3)
# print('analysis'|'calculus') # TypeError: unsupported operand type(s) for |: 'str' and 'str'
# print('analysis'&'calculus') # TypeError: unsupported operand type(s) for &: 'str' and 'str'
# print('analysis'-'calculus') # TypeError: unsupported operand type(s) for -: 'str' and 'str'
# print('analysis'^'calculus') # TypeError: unsupported operand type(s) for ^: 'str' and 'str'
# print([1,2]|[1,3]) # TypeError: unsupported operand type(s) for |: 'list' and 'list'
# print([1,2]&[1,3]) # TypeError: unsupported operand type(s) for &: 'list' and 'list'
# print([1,2]-[1,3]) # TypeError: unsupported operand type(s) for -: 'list' and 'list'
# print([1,2]^[1,3]) # TypeError: unsupported operand type(s) for ^: 'list' and 'list'

7
1
2
6

두 숫자에 대하여 `|`와 `&`가 bitwise(?)한 or gate / and gate를 나타내는 것 같다.

- `5|3=7`
|base 10||base 2|base 2|base 2|
|-||-|-|-|
|5||1|0|1|
|3||0|1|1|
|-||-|-|-|
|7||1|1|1|

- `5&3=1`
|base 10||base 2|base 2|base 2|
|-||-|-|-|
|5||1|0|1|
|3||0|1|1|
|-||-|-|-|
|1||0|0|1|

`-`는 평소에 쓰던 정수의 뺄셈 연산이라고 생각할 수 있다.
이것이 bitwise(?)한 difference gate와도 일치할 것만 같기도 하다.
실제로 일치하는지를 살펴보면

- `5-3=2`
|base 10||base 2|base 2|base 2|
|-||-|-|-|
|5||1|0|1|
|3||0|1|1|
|-||-|-|-|
|1||0|1|0|

이 된다.
즉, bitwise difference와 일치하는 것 같다.


참고 :
\begin{align*}
a\text{ and }b&\leftrightarrow A\cap B\\
a\text{ or }b&\leftrightarrow A\cup B\\
a-b\equiv a\text{ and } \neg b&\leftrightarrow A\setminus B=A\cap B^c\\
a\wedge b\equiv (a\text{ or }b)\setminus(a\text{ and }b)\equiv(a\setminus b)\text{ or }(b\setminus a)&\leftrightarrow A\ominus B = (A\cup B)\setminus(A\cap B)=(A\setminus B)\cup(B\setminus A)
\end{align*}

### 26.2.1. 집합 연산 후 할당 연산자 사용하기

In [601]:
A = {1, 2, 3}
A |={3,4}
print(A)
A = {1, 2, 3}
A.update({3,4})
print(A)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [417]:
A = {1, 2, 3}
A &={3,4}
print(A)
A = {1, 2, 3}
A.intersection_update({3,4})
print(A)

{3}

In [421]:
A = {1, 2, 3}
A -={3,4}
print(A)
A = {1, 2, 3}
A.difference_update({3,4})
print(A)

{1, 2}
{1, 2}

In [423]:
A = {1, 2, 3}
A ^={3,4}
print(A)
A = {1, 2, 3}
A.symmetric_difference_update({3,4})
print(A)

{1, 2, 4}
{1, 2, 4}

### 26.2.2. 부분집합과 상위집합 확인하기

### 26.2.3. 세트가 같은지 다른지 확인하기

여기서 상위집합은 superset의 번역이다.
superset은 사전에 따라, 문헌에 따라 다르게 번역되는 듯 보이지만 [대한수학회](https://www.kms.or.kr/mathdict/list.html?start=930&sort=ename&key=&keyword=&alpa=S)에 따르면 '포함집합'이라고 번역하는 것이 맞을 듯하다. (\*는 위 링크에 없긴 하다.)

|한국어|영어|기호|$\TeX$ 명령어|
|:-:|:-:|:-:|:-:|
|부분집합|subset|$\subset$|\subset|
|진부분집합|proper subset|$\subsetneq$|\subsetneq|
|포함집합|superset|$\supset$|\supset|
|진포함집합|proper superset|$\supsetneq$|\supsetneq|

In [438]:
A = {1, 2, 3}
B = {1, 2}
C = {1, 2, 3, 4}
D = {1, 2, 3}

In [439]:
print(A==D, A is D)

True False

In [453]:
'%-10s', '%-10s' % 'python', 'calculus'

('%-10s', 'python    ', 'calculus')

In [474]:
print('{:>12}{:>6}{:>6}{:>6}'.format('','B','C','D'))
print('{:>12}{:>6}{:>6}{:>6}'.format('subset',A<=B,A<=C,A<=D))
print('{:>12}{:>6}{:>6}{:>6}'.format('subsetneq',A<B,A<C,A<D))
print('{:>12}{:>6}{:>6}{:>6}'.format('supset',A>=B,A>=C,A>=D))
print('{:>12}{:>6}{:>6}{:>6}'.format('supsetneq',A>B,A>C,A>D))

                 B     C     D
      subset     0     1     1
   subsetneq     0     1     0
      supset     1     0     1
   supsetneq     1     0     0

 - 위의 코드에서 `0`은 `False`, `1`은 `True`
   - 부등식 `A<=B`는 `boolean` 형식으로 출력되는데, `print` 내부에 있어서 그런가 0/1로 표시되고 있다.
   - 각각의 부등식을 `bool()`로 감싸도 `boolean` 형식으로 출력되지 않는다.
 - 좀 보기 쉽게 만들기 위해서 표 형식으로 출력해봤는데, 영 별로인 것 같다.
 - 그래도 전단원에서 배운 `{:>12}`를 적용했다는 데에는 의미가 있다.

### 26.2.4. 세트가 겹치지 않는지 확인하기

두 집합의 서로소

In [478]:
A = {1, 2, 3}
B = {3, 4}
C = {4, 5}
print(A.isdisjoint(B))
print(B.isdisjoint(A))
print(A.isdisjoint(C))
print(C.isdisjoint(A))

False
False
True
True

여기서는 두 집합의 서로소, 그러니까 pairwise disjoint 개념을 이야기하고 있다.
세 집합 이상일 때의 mutual disjoint 개념을 나타내는 명령어가 존재할 지도 모르겠다.

## 26.3. 세트 조작하기

### 26.3.1. 세트에 요소 추가하기

In [481]:
A = {1,2,3,4}
A.add(5)
print(A)

{1, 2, 3, 4, 5}

### 26.3.2. 세트에서 특정 요소를 삭제하기

In [611]:
A = {1,2,3,4}
A.remove(3)
print(A)
# A = {1,2,3,4}
# A.remove(5) # KeyError: 5
# print(A)

{1, 2, 4}

In [613]:
A = {1,2,3,4}
A.discard(3)
print(A)
A = {1,2,3,4}
A.discard(5)
print(A)

{1, 2, 4}
{1, 2, 3, 4}

### 26.3.3. 세트에서 임의의 요소를 삭제하기

In [616]:
A = {1,2,3,4}
A.pop()
print(A)

{2, 3, 4}

'임의의'라는 말은 잘못되었다.
세트의 요소들 중 가장 작은 요소 (혹은, 아마도 맨 처음 요소)를 삭제하는 것 같다.

### 26.3.4. 세트의 모든 요소 삭제하기

In [620]:
A = {1,2,3,4}
A.clear()
print(A)

set()

### 26.3.5. 세트의 요소 개수 구하기

cardinality

In [621]:
A = {1,2,3,4}
print(len(A))

4

## 26.4. 세트의 할당과 복사
딕셔너리, 리스트에서와 원리가 같다.

In [508]:
A = {1,2,3,4}
B = A
C = A.copy()

- `B`는 `A`를 그대로 할당한 것이고
- `C`는 `A`를 복사한 것이다.

In [509]:
print(B == A, B is A)
print(C == A, C is A)

True True
True False

 - 할당한 변수 `B`는 원래 변수 `A`와 완전히 같다.
 - 하지만 복사한 변수 `C`는 원래 변수 `A`와 값은 같지만 주소까지 같지는 않다.

In [511]:
A.add(5)
print(B == A, B is A)
print(C == A, C is A)

True True
False False

- `A`에 `1`을 추가하면
- `B`에도 `1`이 추가되지만
- `C`에는 `1`이 추가되지 않는다.

즉, `A`와 독립된 변수 `C`를 만들려면 단순히 *할당*만 해서는 안되고 **복사**해야 한다.

In [502]:
A = {1,2,3,4}
B = A
C = A.copy()

## 26.5. 반복문으로 세트의 요소 모두 출력하기

In [512]:
A = {1,2,3,4}
for a in A:
    print(a)

1
2
3
4

## 26.6. 세트 표현식 사용하기

In [514]:
A = {char for char in 'apple'}
print(A)

{'l', 'p', 'a', 'e'}

'조건제시법'을 보는 것 같다.

### 26.6.1. 세트 표현식에 if 조건문 사용하기

In [517]:
A = {char for char in 'pineapple' if char not in 'apl'}
print(A)

{'i', 'n', 'e'}

## 26.7. 퀴즈

1번 문제

In [518]:
a = {1,2,3,4,5}
b = {}
c = set('hello')
d = set(range(10))
e = set()

In [545]:
print('{:<5}{:<35}{:<20}'.format('','print','print(type)'))
print('{:<5}{:<35}{:<20}'.format('a',str(a),str(type(a))))
print('{:<5}{:<35}{:<20}'.format('b',str(b),str(type(b))))
print('{:<5}{:<35}{:<20}'.format('c',str(c),str(type(c))))
print('{:<5}{:<35}{:<20}'.format('d',str(d),str(type(d))))
print('{:<5}{:<35}{:<20}'.format('e',str(e),str(type(e))))

     print                              print(type)
a    {1, 2, 3, 4, 5}                    <class 'set'>
b    {}                                 <class 'dict'>
c    {'h', 'l', 'o', 'e'}               <class 'set'>
d    {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}     <class 'set'>
e    set()                              <class 'set'>

5번 문제

In [555]:
# 1번 : 같다
A = {1,2,3}
B = {3,4}
print(set.intersection(A,B))
print(A&B)

{3}
{3}

 - `set.intsersection`은 `set` 클래스의 매서드이다.
 - `&`는 잘 모르겠지만 연산자인 것 같다.
   - 수학 용어로 말하면 '이항연산(binary operation)'이라고는 말할 수 있다.

In [565]:
# 2번 : 같다
A = {1,2,3}
B = {3,4}
A.update(B)
print(A)
A = {1,2,3}
B = {3,4}
A|=B
print(A)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [563]:
print(set.update)

<method 'update' of 'set' objects>

 - `update`는 `set` 클래스의 매서드이다.
 - `|=`는 잘 모르겠지만 이것도 연산자인 것 같다.
   - 이것도 이항연산이라고 해야 할까? 모르겠다.

In [569]:
# 3번 : 다르다
A = {1,2,3}
B = {3,4}
A.symmetric_difference_update(B)
print(A)
A = {1,2,3}
B = {3,4}
A-=B
print(A)
A = {1,2,3}
B = {3,4}
A.difference_update(B)
print(A)
A = {1,2,3}
B = {3,4}
A^=B
print(A)

{1, 2, 4}
{1, 2}
{1, 2}
{1, 2, 4}

 - `symmetric_difference_update`와 `difference_update`도 둘다 `set` 클래스의 매서드이다.
 - `-=`와 `^=`도 아마 이것도 연산자인 것 같다.

## 26.8. 연습문제

## 26.9. 심사문제

10 20

100 200

\begin{align*}
x|y
&\iff y\text{ is divisible by } x\\
&\iff x\text{ is a divisor of } y\\
&\iff \text{`x%y==0`}
\end{align*}
12 is divisible by 4 since `12%4==0`

In [575]:
x = 6
ax = {i for i in range(1,x) if x % i ==0}
print(x)

6

In [591]:
x,y = map(int,input().split())
a = {i for i in range(1,x+1) if x % i ==0}
b = {i for i in range(1,y+1) if y % i ==0}
divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

10 20
18