# 10. 리스트와 튜플 사용하기

## 10.1. 리스트 만들기

In [1]:
a = [38, 21, 53, 62, 19]
print(a)

[38, 21, 53, 62, 19]

In [2]:
a

[38, 21, 53, 62, 19]

### 10.1.1 리스트에 여러 가지 자료형 저장하기

교재에 있는 list

In [3]:
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

In [4]:
print(type(person))

<class 'list'>

In [5]:
for x in person:
    print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

직접 해본 np.array

In [6]:
import numpy as np

In [7]:
person2 = np.array(['james', 17, 175.3, True])
person2

array(['james', '17', '175.3', 'True'], dtype='<U32')

In [8]:
print(type(person2))

<class 'numpy.ndarray'>

In [9]:
for x in person2:
    print(type(x))

<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>

np.array에는 한 종류의 datatype만이 들어갈 수 있다.

In [10]:
A=[1,2,3,4]
B=list([1,2,3,4])
print(A == B)
print(A is B)

True
False

### 10.1.2. 빈 리스트 만들기

In [11]:
a = []
print(a)

[]

In [12]:
b = list()
print(b)

[]

### 10.1.3 range를 사용하여 리스트 만들기

In [36]:
A = range(10)
B = list(range(10))
C = list(range(0,10))
D = list(range(1,10))
print(A)
print(B)
print(C)
print(D)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

`list[range(n)]`는 $0\le x<n$인 정수 $n$개로 이루어진 list이다.

## 10.2. 튜플 사용하기

In [ ]:
A = (38, 21, 53, 62, 19)
print(A)

In [ ]:
B=list([38, 21, 53, 62, 19])
print(B)

In [ ]:
print(A[1])
print(B[1])
print(A[1]==B[1])
print(A[1] is B[1])

- list는 수학에서 말하는 unordered tuple이다.
- tuple은 수학에서 말하는 ordered tuple 혹은 sequence이다.

In [ ]:
person = ('james', 17, 175.3, True)
print(person)

- list는 요소들을 변경, 추가, 삭제할 수 있다.
- tuple은 요소들을 변경. 추가, 삭제할 수 없다.

In [ ]:
A=(1,2,3)
B=tuple([1,2,3])
C=1,2,3
#D=tuple(1,2,3) 잘못된 표현
print(A)
print(B)
print(C)
print(A is B)
print(A is C)
print(B is C)
print(A == B)
print(A == C)
print(B == C)

list2tuple, tuple2list

In [42]:
A=[1,2,3]
A=tuple(A)
B=(2,3,4)
B=list(B)
print(A)
print(B)
C=(1,2,3)

(1, 2, 3)
[2, 3, 4]

np.array2list

In [ ]:
import numpy as np
A=[1,2,3]
A=np.array(A)
print(type(A))
B=np.array([2,3,4])
B=B.tolist()
print(type(B))

## 10.3. 퀴즈

## 10.4. 연습문제 : range로 리스트 만들기

## 10.5. 심사문제 : range로 튜플 만들기

In [ ]:
a=tuple(range(-10,10,int(input())))
print(a)

## 10. 6*. 직접 만든 문제

(문제1) list와 np.array의 차이 : 각 요소들의 datatype

(문제2)
```
a = []
b = list()
print(a == b)
print(a is b)
```

(문제3)
```
A=[1,2,3,4]
B=list([1,2,3,4])
print(A == B)
print(A is B)
```

(문제3)
```
A=(1,2,3)
B=tuple([1,2,3])
C=1,2,3
#D=tuple(1,2,3) 잘못된 표현
print(A is B)
print(A is C)
print(B is C)
print(A == B)
print(A == C)
print(B == C)
```

**(문제4) 다음 중 결과가 다르게 나오는 것은?**
```
A=[1,2,3]
B=list((1,2,3))
C=list(range(1,4))
D=[range(1,4)]
print(A)
print(B)
print(C)
print(D)
```

In [189]:
A=[1,2,3]
B=list((1,2,3))
C=list(range(1,4))
D=[range(1,4)]
print(A)
print(B)
print(C)
print(D)
print(type(D))
print(len(D))

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[range(1, 4)]
<class 'list'>
1