# ÏïÑÏù¥Ìé† 3Ï£ºÏ∞® ÏõîÏöîÏùº(0905)

# 10*. Ïó∞ÏäµÎ¨∏Ï†ú

SO3, Fundamental 10Îã®ÏõêÏùÄ 7Ï†àÏóêÏÑú Í∑∏ ÎÇ¥Ïö©Ïù¥ ÎÅùÎÇ¨Îã§.
ÌïòÏßÄÎßå 7Ï†à Îß® ÎßàÏßÄÎßâ Î∂ÄÎ∂ÑÏóê, [ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞ÏÖã](https://www.kaggle.com/datasets/gregorut/videogamesales)ÏùÑ Í∞ÄÏßÄÍ≥† Ïò§Îäò Ìïú Í±∏ Îã§Ïãú Î≥µÏäµÌïòÎùºÍ≥† ÎêòÏñ¥ ÏûàÎã§.
Í∑∏ Î≥µÏäµÏùÑ Ìï¥Î≥¥Î†§Í≥† ÌïúÎã§.

## 10.1. Îì§Ïñ¥Í∞ÄÎ©∞

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print("üëΩ Hello.")

üëΩ Hello.

10.1.ÏóêÏÑú Îã§Ïö¥Î∞õÏïòÎçò `trade.csv`Îäî Ïù¥ ipynb ÌååÏùºÏù¥ Ï†ÄÏû•Îêú Í≥≥Ïóê ÏûàÎäî `data`ÎùºÎäî Ìè¥Îçî ÏïàÏóê ÎÑ£Ïñ¥ÎÜìÏïòÎã§.
Í∑∏Î¶¨Í≥† Í¥ÄÎ†® ÏΩîÎìúÎèÑ Î∞îÍøîÎÜìÏïòÎã§.

ÏßÄÍ∏à Í≥µÎ∂ÄÌï¥Ïïº ÌïòÎäî ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞ÏÖãÏù∏ `vgsales.csv`ÎèÑ `data`ÎùºÎäî Ìè¥Îçî ÏïàÏóê ÎÑ£Ïñ¥ÎÜìÏïòÎã§. Í∑∏ÎûòÏÑú Îã§ÏùåÍ≥º Í∞ôÏù¥ Î∂àÎü¨Ïò¨ Ïàò ÏûàÎã§.

In [2]:
import os

csv_file_path = 'data/vgsales.csv'
games = pd.read_csv(csv_file_path) 
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## 10.2. Í≤∞Ï∏°Ïπò(Missing Data)

In [3]:
print('Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ Í±¥Ïàò:', len(games))

Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ Í±¥Ïàò: 16598

In [4]:
print('Ïª¨ÎüºÎ≥Ñ Í≤∞Ï∏°Ïπò Í∞úÏàò')
len(games) - games.count()

Ïª¨ÎüºÎ≥Ñ Í≤∞Ï∏°Ïπò Í∞úÏàò

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [5]:
games['Year']

0        2006.0
1        1985.0
2        2008.0
3        2009.0
4        1996.0
          ...
16593    2002.0
16594    2003.0
16595    2008.0
16596    2010.0
16597    2003.0
Name: Year, Length: 16598, dtype: float64

### 10.2.1. DataFrame.drop()
ÏõêÎûò ÍµêÏû¨Ïùò ÏòàÏóêÏÑúÎäî ÌïÑÏöîÏóÜÎäî Ïó¥Ïù∏ "Í∏∞ÌÉÄÏÇ¨Ìï≠"ÏùÑ ÏÇ≠Ï†úÌñàÏóàÏßÄÎßå, Ïù¥Î≤àÏóêÎäî Ïó¥ÏùÄ Îî∞Î°ú ÏÇ≠Ï†úÌïòÏßÄ ÏïäÏïòÎã§.

In [6]:
# trade = trade.drop('Í∏∞ÌÉÄÏÇ¨Ìï≠', axis=1)
# trade.head()

### 10.2.2. DataFrame.isnull()

In [7]:
games.isnull()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
16593,False,False,False,False,False,False,False,False,False,False,False
16594,False,False,False,False,False,False,False,False,False,False,False
16595,False,False,False,False,False,False,False,False,False,False,False
16596,False,False,False,False,False,False,False,False,False,False,False
16597,False,False,False,False,False,False,False,False,False,False,False

### 10.2.3. DataFrame.any()

In [8]:
games.isnull().any(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Length: 16598, dtype: bool

In [9]:
games[games.isnull().any(axis=1)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

In [10]:
games.dropna(how='any', subset=['Year', 'Publisher'], inplace=True)
print("üëΩ It's okay, no biggie.")
games

üëΩ It's okay, no biggie.

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

ÏõêÎûò `trade.csv`ÏóêÏÑúÎäî `how='any'`Î°ú ÏçºÏóàÎã§.
Í∑∏ÎïåÎäî, ÏàòÏ∂úÍ±¥Ïàò, ÏàòÏ∂úÍ∏àÏï°, ÏàòÏûÖÍ±¥Ïàò, ÏàòÏûÖÍ∏àÏï°, Î¨¥Ïó≠ÏàòÏßÄ Ïó¥Ïóê Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÏóàÎã§.
Î®ºÏ†Ä `dropna(how='all')`Î°ú Î™®Îì† Ïó¥Ïù¥ Í≤∞Ï∏°ÏπòÏù∏ Ïó¥ÏùÑ Ï†úÍ±∞ÌñàÎã§.
Í∑∏Î¶¨Í≥† ÎÇòÎãà Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî ÌñâÏùÄ ÌïòÎÇòÏùò ÌñâÎ∞ñÏóê ÎÇ®ÏßÄ ÏïäÏïòÍ≥†, Ìï¥Îãπ ÌñâÏóêÎäî ÌïòÎÇòÏùò Ïó¥Ïóê Ìï¥ÎãπÌïòÎäî Í∞íÎßå `NaN`Ïù¥ÏóàÎã§.
Í∑∏Î¶¨Í≥† Í∑∏ Í≤∞Ï∏°ÏπòÎ•º Ï†ÅÏ†àÌûà Î≥¥Í∞ÑÌïòÏó¨ ÏÇ¨Ïö©ÌñàÏóàÎã§.

Ïù¥Î≤à `vgsales.csv`ÏóêÏÑúÎäî `how='any'`Î°ú ÌïòÏó¨ Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ïó¥ÏùÑ Î™®Îëê ÎÇ†Î†§Î≤ÑÎ†∏Îã§.
Ïù¥Î≤àÏóêÎäî `Year`ÏôÄ `Publisher`Ïóê Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÏóàÎäîÎç∞, Îëê Ïó¥Ïù¥ Î™®Îëê Í≤∞Ï∏°ÏπòÏù∏ Ïó¥ÏùÑ Ï†úÍ±∞ÌïòÎçîÎùºÎèÑ ÏÉÅÎãπÌûà ÎßéÏùÄ ÌñâÏù¥ Ï≤òÎ¶¨ÎêòÏßÄ ÏïäÏùÄ Ï±ÑÎ°ú ÎÇ®ÏïòÎã§.
ÏïÑÍπå Î¨¥Ïó≠ÏàòÏßÄÏ≤òÎüº, Ïó∞ÏÜçÏ†ÅÏù∏ Ïà´ÏûêÎ•º Í∞ñÎäî Í∞íÏù¥ÎùºÎ©¥ Ïñ¥ÎñªÍ≤åÎì† Î≥¥Í∞ÑÏùÑ ÌïòÍ≤†ÎäîÎç∞, Ïù¥Î≤àÏóêÎäî Í≤åÏûÑÏùò Ï∂úÏãúÎÖÑÎèÑÏù∏ `Year`ÏôÄ Ï∂úÏãú ÌöåÏÇ¨Ïù∏ `Publisher`Ïù¥Îã§.
Ïù¥Í≤ÉÏùÄ Îã¨Î¶¨ Î≥¥Í∞ÑÌï† Î∞©Î≤ïÎèÑ ÏóÜÍ≥†, Î≥¥Í∞ÑÌïúÎã§Í≥† Ìï¥ÎèÑ Î≥Ñ ÏùòÎØ∏Í∞Ä ÏóÜÏùÑ Í≤É Í∞ôÏïÑÏÑú, Î™®Îëê ÏßÄÏõ†Îã§.
Í∑∏Îü∞Îç∞ Î™®Îëê ÏßÄÏõåÎèÑ Îê† Í≤É Í∞ôÏùÄÍ≤å, ÏïÑÍπåÏóê ÎπÑÌï¥ Îç∞Ïù¥ÌÑ∞ÏàòÍ∞Ä ÍΩ§ ÎßéÏúºÎØÄÎ°ú, Í¥úÏ∞ÆÏùÑ Í≤É Í∞ôÎã§.

In [11]:
games[games.isnull().any(axis=1)]

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

### 10.2.5. Dataframe.loc[]

(ÌïòÏßÄ ÏïäÏïòÎã§.)

## 10.3. Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞

### 10.3.1. Dataframe.duplicated()

In [12]:
games.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Length: 16291, dtype: bool

In [13]:
games[games.duplicated()]

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

### 10.3.2. Dataframe.drop_duplicated()
ÌïòÏßÄ ÏïäÏïòÎã§.
Ï§ëÎ≥µÎêú ÌñâÏù¥ ÏóÜÏúºÎØÄÎ°ú Ìï† Ïù¥Ïú†Í∞Ä ÏóÜÎã§.

## 10.4. Ïù¥ÏÉÅÏπò(Outlier)

In [56]:
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [16]:
def outlier(df, col, z):
    return df[abs(df[col] - np.mean(df[col]))/np.std(df[col])>z].index
print("üëΩ It's okay, no biggie.")

üëΩ It's okay, no biggie.

In [14]:
def not_outlier(df, col, z):
    return df[abs(df[col] - np.mean(df[col]))/np.std(df[col]) <= z].index
print("üëΩ It's okay, no biggie.")

üëΩ It's okay, no biggie.

Îã§ÏùåÏóê Îã§ÏÑØ Í∞ú Ïó¥
 - `NA_Sales`
 - `EU_Sales`
 - `JP_Sales`
 - `Other_Sales`
 - `Global_Sales`

Ïóê ÎåÄÌïòÏó¨ Ïù¥ÏÉÅÏπòÍ∞Ä ÏûàÎäî ÌñâÎì§ÏùÑ Ï°∞ÌöåÌï¥Î≥¥Í≥† zscore Í∏∞Ï§ÄÏúºÎ°ú 1.5 Ïù¥ÏÉÅÏù∏ Í≤ÉÎì§ÏùÑ Ï†úÍ±∞ÌñàÎã§.
Ïù¥Î•º ÏúÑÌï¥ÏÑú, Ïó¨Îü¨ Ïó¥Îì§Ïùò Ïù¥Î¶ÑÏùÑ ÏöîÏÜåÎ°ú Í∞ÄÏßÄÍ≥† ÏûàÎäî Î¶¨Ïä§Ìä∏Ïóê ÎåÄÌïòÏó¨, ÌïòÎÇòÏùò Ïó¥Ïù¥ÎùºÎèÑ zscore Í∏∞Ï§ÄÏúºÎ°ú Ïù¥ÏÉÅÏπòÏù¥Î©¥ Ï†úÍ±∞ÌïòÎäî ÏÉàÎ°úÏö¥ Ìï®Ïàò `outlier_list`Î•º ÎßåÎì§ÏóàÎã§.

In [67]:
A = pd.DataFrame([[1,3,5],[2,4,6]],index=['a','b'],columns=['x','y','z'])
A

   x  y  z
a  1  3  5
b  2  4  6

In [80]:
sum(A['x'])>2

True

In [72]:
A[sum(A['x'])>3]

KeyError: False

In [57]:
games.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            16588, 16589, 16590, 16591, 16592, 16593, 16594, 16595, 16596,
            16597],
           dtype='int64', length=16291)

In [60]:
outlier(games,'Global_Sales',1.5) & outlier(games,'JP_Sales',1.5)

/tmp/ipykernel_321/1988561014.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  outlier(games,'Global_Sales',1.5) & outlier(games,'JP_Sales',1.5)

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,  10,
            ...
            455, 469, 472, 474, 475, 476, 481, 490, 492, 497],
           dtype='int64', length=184)

In [59]:
pd.DataFrame(outlier(games,'Global_Sales',1.5),games.index)

ValueError: Shape of passed values is (494, 1), indices imply (16291, 1)

In [42]:
y1 = pd.Series([1,0,1,0,0])
y2 = pd.Series([1,0,0,1,0])
y3 = pd.Series([1,1,1,1,0])
y1|y2|y3

0    1
1    1
2    1
3    1
4    0
dtype: int64

In [43]:
np.logical_or.reduce((True, True, False))

True

In [45]:
np.logical_or.reduce([True, True, False])

True

In [46]:
np.logical_or.reduce([y1, y2, y3])

array([ True,  True,  True,  True, False])

In [47]:
col_list = [ 'NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']

In [53]:
outlier(games,'Global_Sales',1.5)

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            488, 489, 490, 491, 492, 493, 494, 495, 496, 497],
           dtype='int64', length=494)

In [49]:
A = [outlier(games,col,1.5) for col in col_list]
A

[Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
             ...
             1048, 1068, 1074, 1078, 1085, 1106, 1115, 1123, 1146, 1205],
            dtype='int64', length=509),
 Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,   10,
             ...
             1617, 1717, 1734, 1761, 1769, 1829, 1882, 1924, 2047, 2120],
            dtype='int64', length=528),
 Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,   10,
             ...
             3609, 3612, 3636, 3641, 3647, 3648, 3657, 3667, 3669, 3672],
            dtype='int64', length=513),
 Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
             ...
             3134, 3186, 3228, 3285, 3453, 3689, 3832, 4381, 4384, 4480],
            dtype='int64', length=394),
 Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
             ...
             488, 489, 490, 491, 492, 493, 494, 495, 496, 497],
            dtype='int64', length=494)]

In [50]:
B = np.logical_or.reduce(A)

/tmp/ipykernel_321/149237660.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  B = np.logical_or.reduce(A)

ValueError: The truth value of a Int64Index is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [30]:
def outlier_list(df,col_list,z):
    A = [outlier(df,col,z) for col in col_list]
    np.logical_or.reduce(A)
    return outlier(df,)

In [31]:
outlier(games,'NA_Sales',1.5)

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1048, 1068, 1074, 1078, 1085, 1106, 1115, 1123, 1146, 1205],
           dtype='int64', length=509)

In [24]:
type(abs(games['NA_Sales'] - np.mean(games['NA_Sales']))/np.std(games['NA_Sales']) > 1.5)

pandas.core.series.Series

In [ ]:
def outlier(df, col_list, z):
    return df[abs(df[col] - np.mean(df[col]))/np.std(df[col])>z].index
print("üëΩ It's okay, no biggie.")

In [19]:
games.loc[outlier(games, 'NA_Sales', 1.5)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
1106,1108,Ms. Pac-Man,2600,1981.0,Puzzle,Atari,1.54,0.10,0.00,0.02,1.65
1115,1117,Dig Dug,2600,1982.0,Puzzle,Atari,1.52,0.10,0.00,0.02,1.64
1123,1125,ESPN NFL 2K5,XB,2004.0,Sports,Sega,1.54,0.02,0.00,0.07,1.63
1146,1148,SpongeBob's Atlantis SquarePantis,DS,2007.0,Action,THQ,1.50,0.00,0.00,0.11,1.61
1205,1207,Command & Conquer: Tiberian Sun,PC,1999.0,Strategy,Westwood Studios,1.55,0.00,0.00,0.00,1.55