## 14.1. 들어가며

## 14.2. 안녕, 포켓몬과 인사해!

## 14.3. 포켓몬, 그 데이터는 어디서 구할까?

## 14.4. 포켓몬 데이터 불러오기

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
print('슝=3')

슝=3

In [2]:
import os
csv_path = os.getenv("HOME") +"/aiffel/pokemon_eda/data/Pokemon.csv"
original_data = pd.read_csv(csv_path)
print('슝=3')

슝=3

In [6]:
pokemon = original_data.copy()
print(pokemon.shape)
pokemon.head()

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
pokemon['Generation'].value_counts()

1    166
5    165
3    160
4    121
2    106
6     82
Name: Generation, dtype: int64

In [11]:
# 전설의 포켓몬 데이터셋
legendary = pokemon[pokemon["Legendary"] == True].reset_index(drop=True)
print(legendary.shape)
legendary.head()

(65, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [12]:
# 일반 포켓몬 데이터셋
ordinary = pokemon[pokemon["Legendary"] == False].reset_index(drop=True)
print(ordinary.shape)
ordinary.head()

(735, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## 14.5. 전설의 포켓몬? 먼저 샅샅이 살펴보자! (1) 결측치와 전체 칼럼

In [15]:
pokemon.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [16]:
print(len(pokemon.columns))
pokemon.columns

13

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

## 14.6. 전설의 포켓몬? 먼저 샅샅이 살펴보자! (2) ID와 이름

In [25]:
len(set(pokemon["#"])) # not unique

721

In [24]:
len(set(pokemon["Name"])) # unique

800

In [23]:
pokemon['#'].value_counts()

479    6
386    4
710    4
711    4
646    3
      ..
250    1
251    1
252    1
253    1
721    1
Name: #, Length: 721, dtype: int64

In [27]:
pokemon[pokemon["#"] == 479]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
531,479,Rotom,Electric,Ghost,440,50,50,77,95,77,91,4,False
532,479,RotomHeat Rotom,Electric,Fire,520,50,65,107,105,107,86,4,False
533,479,RotomWash Rotom,Electric,Water,520,50,65,107,105,107,86,4,False
534,479,RotomFrost Rotom,Electric,Ice,520,50,65,107,105,107,86,4,False
535,479,RotomFan Rotom,Electric,Flying,520,50,65,107,105,107,86,4,False
536,479,RotomMow Rotom,Electric,Grass,520,50,65,107,105,107,86,4,False

## 14.7. 전설의 포켓몬? 먼저 샅샅이 살펴보자! (3) 포켓몬의 속성

In [28]:
pokemon.loc[[6, 10]]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False

In [29]:
len(list(set(pokemon["Type 1"]))), len(list(set(pokemon["Type 2"])))

(18, 19)

In [41]:
print(set(pokemon["Type 1"]))
print(set(pokemon["Type 2"]))
print(len(set(pokemon["Type 1"])))
print(len(set(pokemon["Type 2"])))
print(set(pokemon["Type 1"])-set(pokemon["Type 2"]))
print(set(pokemon["Type 2"])-set(pokemon["Type 1"]))
print(set(pokemon["Type 2"])&set(pokemon["Type 1"]))
print(len(set(pokemon["Type 2"])&set(pokemon["Type 1"])))

{'Flying', 'Electric', 'Bug', 'Water', 'Ground', 'Fire', 'Fighting', 'Fairy', 'Ghost', 'Steel', 'Grass', 'Poison', 'Ice', 'Dragon', 'Psychic', 'Rock', 'Dark', 'Normal'}
{nan, 'Ground', 'Grass', 'Poison', 'Rock', 'Fighting', 'Dark', 'Normal', 'Electric', 'Water', 'Ghost', 'Ice', 'Flying', 'Bug', 'Fire', 'Fairy', 'Steel', 'Dragon', 'Psychic'}
18
19
set()
{nan}
{'Flying', 'Electric', 'Water', 'Bug', 'Ground', 'Fire', 'Fighting', 'Fairy', 'Ghost', 'Steel', 'Grass', 'Poison', 'Ice', 'Dragon', 'Psychic', 'Rock', 'Dark', 'Normal'}
18

In [46]:
types = list(set(pokemon["Type 2"])&set(pokemon["Type 1"]))
print(type(types))
print(len(types))
print(types)

<class 'list'>
18
['Flying', 'Electric', 'Water', 'Bug', 'Ground', 'Fire', 'Fighting', 'Fairy', 'Ghost', 'Steel', 'Grass', 'Poison', 'Ice', 'Dragon', 'Psychic', 'Rock', 'Dark', 'Normal']

In [60]:
pokemon[pokemon["Type 2"] == nan]

NameError: name 'nan' is not defined

In [49]:
print(pokemon['Type 1'].value_counts())
print(pokemon['Type 2'].value_counts())

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

## 14.8. 전설의 포켓몬? 먼저 샅샅이 살펴보자! (4) 모든 스탯의 총합

## 14.9. 전설의 포켓몬? 먼저 샅샅이 살펴보자! (5) 세부 스탯

## 14.10. 전설의 포켓몬? 먼저 샅샅이 살펴보자! (6) 세대

## 14.11. 전설의 포켓몬과 일반 포켓몬, 그 차이는? (1) Total값

## 14.12. 전설의 포켓몬과 일반 포켓몬, 그 차이는? (2) 이름

## 14.13. 모델에 넣기 위해! 데이터 전처리하기 (1) 이름의 길이가 10 이상인가?

## 14.14. 모델에 넣기 위해! 데이터 전처리하기 (2) 이름에 자주 쓰이는 토큰 추출

## 14.15. 모델에 넣기 위해! 데이터 전처리하기 (3) Type1 & 2! 범주형 데이터 전처리하기

## 14.16. 가랏, 몬스터볼! (1) 가장 기본 데이터로 만드는 베이스라인

## 14.17. 가랏, 몬스터볼! (2) 의사 결정 트리 모델 학습시키기

## 14.18. 가랏, 몬스터볼! (3) 피쳐 엔지니어링 데이터로 학습시키면 얼마나 차이가 날까?

## 14.19. 가랏, 몬스터볼! (4) 의사 결정 트리 모델 다시 학습시키기

## 14.20. 마무리