# 5. 숫자 계산하기

## 5.1. 정수 계산하기

### 5.1.1 사칙연산

In [31]:
1+1

2

In [20]:
1-2

-1

In [21]:
2*2

4

In [22]:
5/2

2.5

In [27]:
4/2

2.0

In [28]:
print(type(1+1)); print(type(5/2)) ; print(4/2)

<class 'int'>
<class 'float'>
2.0

### 5.1.2. 정수의 나눗셈 : 몫

In [32]:
print(5//2)
print(4//2)

2
2

### 5.1.3. 정수의 나눗셈 : 나눗셈

In [33]:
print(5%2)
print(4%2)

1
0

In [39]:
print('5를 2로 나누면 몫은 ', 5//2,'이고, 나머지는',5%2,'이다.')

5를 2로 나누면 몫은  2 이고, 나머지는 1 이다.

### 5.1.4. 거듭제곱을 구하는 ** 연산자

In [40]:
2**10

1024

In [41]:
2*10

20

In [53]:
print(1*1,1*2,1*3,1*4,1*5)
print(2*1,2*2,2*3,2*4,2*5)
print(3*1,3*2,3*3,3*4,3*5)
print(4*1,4*2,4*3,4*4,4*5)
print(5*1,5*2,5*3,5*4,5*5)

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [55]:
print('^는 어떤 연산이지?')
print(1^1,1^2,1^3,1^4,1^5)
print(2^1,2^2,2^3,2^4,2^5)
print(3^1,3^2,3^3,3^4,3^5)
print(4^1,4^2,4^3,4^4,4^5)
print(5^1,5^2,5^3,5^4,5^5)

^는 어떤 연산이지?
0 3 2 5 4
3 0 1 6 7
2 1 0 7 6
5 6 7 0 1
4 7 6 1 0

### 5.1.5. 값을 정수로 만들기

In [60]:
a=3.3 ; print(int(a)) ; print(type(int(a)))
b=5/2 ; print(int(b)) ; print(type(int(b)))
c='10' ; print(int(c)) ; print(type(int(c)))

3
<class 'int'>
2
<class 'int'>
10
<class 'int'>

### 5.1.6. 객체의 자료형 알아내기

In [62]:
print(type(10))
print(type(10.1))
print(type('10'))

<class 'int'>
<class 'float'>
<class 'str'>

In [66]:
quotient,remainder = divmod(5,2)
print(quotient,remainder)

2 1

## 5.2. 실수 계산하기

In [67]:
3.5+2.1

5.6

In [68]:
4.3-2.7

1.5999999999999996

In [69]:
1.5*3.1

4.65

In [70]:
5.5/3.1

1.7741935483870968

### 5.2.1. 실수와 정수를 함께 계산하면?

In [71]:
4.2+5

9.2

### 5.2.2. 값을 실수로 만들기

In [72]:
print(float(5))
print(float(1+2))
print(float('5.3'))

5.0
3.0
5.3

In [73]:
1.2+1.3j

(1.2+1.3j)

## 5.3. 괄호 사용하기

In [75]:
print(35+1*2)
print((35+1)*2)

37
72

## 5.4. 퀴즈

## 5.5. 연습문제

## 5.6 심사문제

## 5.7*. 스스로 만든 퀴즈

파이썬에서

In [146]:
3**4

81

와 같이 입력하면 3의 네제곱인 81이 출력된다.
그런데 보통 수식 입력기에서는 지수를 정의할 때

In [265]:
3^4

7

라고 쓴다.
실제 파이썬에서 위의 식을 입력하면 81 대신 7이 뜬다.
이건 무슨 연산일까?