# 24. 문자열 응용하기

- string
- `str`

## 24.1. 문자열 조작하기

문자열과 관련한 여러 매서드들이 있다.

|매서드|설명|문법|반환|분류|비고|
|:-:|:-:|:-:|:-:|:-:|:-:|
|`replace`|문자열을 바꾼다.|*str*.`replace`(*str*,*str*)|*str*|*str*의 _method_||
|`maketrans`|translation을 하나 만든다.|<font color=green>**str**</font>.`maketrnas`(*str*,*str*)|*dict*|*type*의 _method_||
|`translate`|translation을 적용한다.|*str*.`translate`(name)|*str*|*str*의 _method_||
|`split`|공백을 기준으로 문자열을 분리하여 리스트를 만든다.|*str*.`split`()|*list*|*str*의 _method_|공백->특정문자열|
|`join`|구분자 문자열과 문자열 리스트의 요소들을 연결하여 문자열로 만든다.|*str*.`join`(*list*)|*str*|*str*의 _method_||
|`upper`|모든 소문자를 대문자로 바군다.|*str*.`upper`()|*str*|*str*의 _method_||
|`lower`|모든 대문자를 소문자로 바꾼다.|*str*.`lower`()|*str*|*str*의 _method_||
|`lstrip`|왼쪽 공백을 삭제한다.|*str*.ll`lstrip`()|*str*|*str*의 _method_|공백->특정문자열|
|`rstrip`|오른쪽 공백을 삭제한다.|*str*.`rstrip`()|*str*|*str*의 _method_|공백->특정문자열|
|`strip`|모든 공백을 삭제한다.|*str*.l`strip`()|*str*|*str*의 _method_|공백->특정문자열|
|`ljust`|주어진 문자열을 왼쪽 정렬하고 나머지는 공백으로 채운다.|*str*.`ljust`(*int*) |*str*|*str*의 _method_||
|`rjust`|주어진 문자열을 오른쪽 정렬하고 나머지는 공백으로 채운다.|*str*.`rjust`(*int*) |*str*|*str*의 _method_||
|`center`|주어진 문자열을 가운데 정렬하고 나머지는 공백으로 채운다.|*str*.`center`(*int*) |*str*|*str*의 _method_||
|`zfill`|주어진 문자열을 왼쪽 정렬하고 나머지는 공백으로 채운다.|*str*.`zfill`(*int*) |*str*|*str*의 _method_||
|`find`(*str*), `index`(*str*)|해당 문자열 안에 특정 문자열의 위치를 (왼쪽부터) 찾는다.|*str*.`find`(*str*)|*int*|*str*의 _method_||
|`rfind`(*str*), `rindex`(*str*)|해당 문자열 안에 특정 문자열의 위치를 (오른쪽부터) 찾는다.|*str*.`rfind`(*str*)|*int*|*str*의 _method_||
|`count`(*str*)|해당 문자열 안에 특정 문자열의 개수를 센다.|*str*.`count`(*str*)|*int*|*str*의 _method_||

### 24.1.1 문자열 바꾸기

`replace` : 문자열을 바꾼다.

In [1]:
'Hello, world!'.replace('world','python')

'Hello, python!'

In [21]:
s = 'Hello world!'
s.replace('world','python')
print(s)

Hello world!

In [26]:
print(str.replace)
print(type(str.replace))

<method 'replace' of 'str' objects>
<class 'method_descriptor'>

### 24.1.2. 문자 바꾸기

- `maketrans` : translation을 하나 만든다.
- `translate` : translation을 적용한다.

In [20]:
table = str.maketrans('aeiou','12345')
'apple'.translate(table)

'1ppl2'

In [15]:
print(table)
print(type(table))

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}
<class 'dict'>

<font color=red> 이건 어떤 딕셔너리지? </font>

In [16]:
print(str)
print(type(str))

<class 'str'>
<class 'type'>

In [17]:
print(str.maketrans)
print(type(str.maketrans))

<built-in method maketrans of type object at 0x55bd81591d40>
<class 'builtin_function_or_method'>

In [18]:
print(str.translate)
print(type(str.translate))

<method 'translate' of 'str' objects>
<class 'method_descriptor'>

In [19]:
# 한줄에 시행해보기
'apple'.translate(str.maketrans('aeiou','12345'))

'1ppl2'

### 24.1.3. 문자열 분리하기

`split` : 공백을 기준으로 문자열을 분리하여 리스트를 만든다.

In [23]:
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [29]:
print(str.split)
print(type(str.split))

<method 'split' of 'str' objects>
<class 'method_descriptor'>

### 24.1.4. 구분자 문자열과 문자열 리스트 연결하기

`join` : 구분자 문자열과 문자열 리스트의 요소들을 연결하여 문자열로 만든다.

In [30]:
' '.join(['apple', 'pear', 'grape'])

'apple pear grape'

In [31]:
'1'.join(['apple', 'pear', 'grape'])

'apple1pear1grape'

In [39]:
print(str.join,type(str.join))

<method 'join' of 'str' objects> <class 'method_descriptor'>

### 24.1.5. 소문자를 대문자로 바꾸기
### 24.1.6. 대문자를 소문자로 바꾸기

In [36]:
'Python'.upper()

'PYTHON'

In [37]:
'Python'.lower()

'python'

In [38]:
print(str.upper,type(str.upper))
print(str.lower,type(str.lower))

<method 'upper' of 'str' objects> <class 'method_descriptor'>
<method 'lower' of 'str' objects> <class 'method_descriptor'>

### 24.1.7. 왼쪽 공백 삭제하기
### 24.1.8. 오른쪽 공백 삭제하기
### 24.1.9. 양쪽 공백 삭제하기
### 24.1.10. 왼쪽의 특정 문자 삭제하기
### 24.1.11. 오른쪽의 특정 문자 삭제하기
### 24.1.12. 양쪽의 특정 문자 삭제하기

- `lstrip()` : 왼쪽 공백 삭제
- `rstrip()` : 오른족 공백 삭제
- `strip()` : 양쪽 공백 삭제
- `lstrip(str)` : 왼쪽 특정문자 삭제
- `rstrip(str)` : 오른쪽 특정문자 삭제
- `strip(str)` : 양쪽 특정문자 삭제

In [45]:
" python  ".lstrip()

'python  '

In [41]:
" python  ".rstrip()

' python'

In [42]:
" python  ".strip()

'python'

In [48]:
"...python..".lstrip('.')

'python..'

In [49]:
"...python..".rstrip('.')

'...python'

In [50]:
"...python..".strip('.')

'python'

In [44]:
print(str.lstrip,type(str.lstrip))
print(str.rstrip,type(str.rstrip))
print(str.strip,type(str.strip))

<method 'lstrip' of 'str' objects> <class 'method_descriptor'>
<method 'rstrip' of 'str' objects> <class 'method_descriptor'>
<method 'strip' of 'str' objects> <class 'method_descriptor'>

### 24.1.13. 문자열을 왼쪽 정렬하기
### 24.1.14. 문자열을 오른쪽 정렬하기
### 24.1.15. 문자열을 가운데 정렬하기

- `ljust(int)` : 주어진 문자열을 왼쪽 정렬하고 빈공간은 여백으로 처리.
- `rjust(int)` : 주어진 문자열을 오른쪽 정렬하고 빈공간은 여백으로 처리.
- `center(int)` : 주어진 문자열을 가운데 정렬하고 빈공간은 여백으로 처리.

In [54]:
print('python'.ljust(10))
print('python'.rjust(10))
print('python'.center(10))

python
    python
  python

In [55]:
a = 'python'.ljust(10)
print(len(a))

10

### 24.1.16. 메서드 체이닝

메서드를 줄줄이 연결한다.

In [56]:
'python'.rjust(10).upper()

'    PYTHON'

### 24.1.17. 문자열 왼쪽에 0 채우기

`zfill(n)`: 문자열 왼쪽에 0을 채워 lenth n인 문자열을 만든다.

In [59]:
print('35'.zfill(4))
print('3.5'.zfill(4))
print('hello'.zfill(4))
print('35'.zfill(10))
print('3.5'.zfill(10))
print('hello'.zfill(10))

0035
03.5
hello
0000000035
00000003.5
00000hello

### 24.1.18. (왼쪽에서부터) 문자열 위치 찾기

### 24.1.19. 오른쪽에서부터 문자열 위치 찾기

### 24.1.20. 왼쪽에서부터 문자열 위치 찾기

### 24.1.21. 오른쪽에서부터 문자열 위치 찾기

- `find(str)`, `index(str)` : 해당 문자열 안에 특정 문자열의 위치를 (왼쪽부터) 찾는다.
- `rfind(str)`, `rindex(str)` : 해당 문자열 안에 특정 문자열의 위치를 (오른쪽부터) 찾는다.

In [87]:
print('calculus'.find('c'))
print('calculus'.rfind('c'))
print('calculus'.index('c'))
print('calculus'.rindex('c'))

0
3
0
3

|character|<font color=red>c</font>|a|l|<font color=red>c</font>|u|l|u|s|
|:-:|-|-|-|-|-|-|-|-|
|index|<font color=red>0</font>|1|2|<font color=red>3</font>|4|5|6|7|

### 24.1.22. 문자열 개수 세기

In [90]:
print('calculus'.count('c'))

2

In [91]:
C = 'calculus'
print(len(C))
print(C.count('c'))
print(str.count)
print(len)

8
2
<method 'count' of 'str' objects>
<built-in function len>

## 24.2. 문자열 서식 지정자와 포매팅 사용하기

 - 서식 지정자 : format specifier
  - `str` %x `str` %y
    - y : `str`,`int`, `float`
    - %x : %s, %d, %f
    - %x에 y를 대입해서 출력한다.
  - `str` %.nf`str` % y
    - y : `int`, `float`
    - 숫자 y를 소수 n째짜리까지 출력한다.
  - `str` %ns`str` % y
    - %ns에 y를 대입하되, 오른쪽정렬하고 n개의 문자열로 출력한다.
    - y : `str`
 - format 매서드 : string formatting
  - `str`,{},`str`,{}.format{x,y}
    - 두 중괄호 대신 각각 x와 y를 대입하여라.
    - 중괄호 안에 정수를 넣어 순서를 특정해 넣거나 중복해서 넣을 수 있다.
    - 중괄호 안에 변수를 넣을 수 있다.
  - f'`str` {variable}'
    - {variable}에 이미 지정한 변수를 대입해 출력한다.
    - 여러 개의 변수를 넣을 수 있다.
  - '{0:x<n}'.format(`str`)
    - `str`을 왼쪽 정렬(<)하고 n개의 문자열로 출력하며 x를 padding한다.
    - 0은 생략되어도 좋다.
    - x도 생략되어도 좋다. 생략된다면, 여백이 padding된다.
 - 기타 응용
    - `'%03d' % 35`, `'{0:03d}'.format(35)`
      - 출력 : 035
      - 앞에 0을 padding하되 3개의 문자열을 출력한다.
    - `'%08.2f' % 3.6`,`'{0:08.2f}'.format(3.6)`
      - 출력 : 00003.60
      - 앞에 0을 padding하되 소수점 두자리까지 표현하고, 8개의 문자열을 출력한다.

### 24.2.1. 서식 지정자로 문자열 넣기

In [92]:
'I am %s.' % 'james'

'I am james.'

 - **literally** : 'I am %s.'라는 문자열을 출력하되, %s라고 표시된 곳에는 % 이하의 부분, 즉 'james'를 넣어라.
 - `%s`는 `str` 형식을 쓰겠다는 뜻이다.

In [93]:
name = 'maria'
'I am %s' % name

'I am maria'

### 24.2.2. 서식 지정자로 숫자 넣기

In [94]:
'I am %d years old.' % 20

'I am 20 years old.'

 - **literally** : 'I am %d years old.'라는 문자열을 출력하되, %d라고 표시된 곳에는 % 이하의 부분, 즉 20를 넣어라.
 - decimal integer : <font color=red> 소수점을 버리고 integer를 만든다는 뜻인가? </font>
 - `%` 이하 부분은 `int`와 `float`이 들어갈 수 있는 것 같다.

In [95]:
'I am %d years old.' % 20.2

'I am 20 years old.'

In [96]:
'I am %d years old.' % '20'

TypeError: %d format: a number is required, not str

### 24.2.3. 서식 지정자로 소수점 표현하기

In [100]:
'%f' % 2.3

'2.300000'

 - **literally** : '%f'를 출력하여라.
  - 단 `%f`라고 표시된 곳에는 `%` 이하의 부분, 즉 2.3를 넣어라.
  - 소수점 이하 6자리까지 표시하는 것이 default이다.
 - floating point
 - `%` 이하 부분은 `int`와 `float`이 들어갈 수 있는 것 같다.

In [98]:
'%f' % 2

'2.000000'

In [99]:
'%f' % '2'

TypeError: must be real number, not str

In [101]:
'%.2f' % 2.3

'2.30'

In [ ]:
'%.2f' % 2.3

소수점 이하 2자리까지 출력하여라.

### 24.2.4. 서식 지정자로 문자열 정렬하기

In [104]:
print('%10s' % 'python')
print('python'.rjust(10))

    python
    python

### 24.2.5. 서식 지정자로 문자열 안에 여러 개 넣기

In [105]:
'Today is %d %s.' % (3, 'April')

'Today is 3 April.'

### 24.2.6. format 매서드 사용하기

In [106]:
'Hello, {0}'.format('world!')

'Hello, world!'

In [108]:
'Hello, {0}'.format('100')

'Hello, 100'

In [109]:
'Hello, {0}'.format(100)

'Hello, 100'

In [107]:
'Hello, {}'.format('world!')

'Hello, world!'

### 24.2.7. format 매서드로 값을 여러 개 넣기

In [110]:
'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

'Hello, Python 3.6 Script'

In [112]:
'Hello, {} {} {}'.format('Python', 'Script', 3.6)

'Hello, Python Script 3.6'

### 24.2.8. format 매서드로 같은 값을 여러 개 넣기

In [113]:
'{0} {0} {1} {1}'.format('Python', 'Script')

'Python Python Script Script'

### 24.2.9. format 매서드에서 인덱스 생략하기

In [114]:
'Hello, {} {} {}'.format('Python', 'Script', 3.6)

'Hello, Python Script 3.6'

### 24.2.10. format 매서드에서 인덱스 대신 이름 지정하기

In [115]:
'Hello, {language} {version}'.format(language='Python', version=3.6)

'Hello, Python 3.6'

### 24.2.11. 문자열 포매팅에 변수 그대로 사용하기

In [118]:
language = 'Python'
version = 3.6
print(f'Hello, {language} {version}')
print('Hello, Python 3.6')

Hello, Python 3.6
Hello, Python 3.6

### 24.2.12. format 매서드로 문자열 정렬하기
### 24.2.14. 채우기와 정렬을 조합해서 사용하기

두 subsubsection이 서로 연관되어 있으므로 12와 14를 붙였다. 13은 밑에 적었다.

In [158]:
print('{0:<10}'.format('python'))
print('{0:>10}'.format('python'))
print('{:<10}'.format('python'))
print('{:>10}'.format('python'))
print('python'.ljust(10))
print('python'.rjust(10))
print('{0:0<10}'.format('python'))
print('{0:0>10}'.format('python'))
print('{:0<10}'.format('python'))
print('{:0>10}'.format('python'))

python
    python
python
    python
python
    python
python0000
0000python
python0000
0000python

In [ ]:
print('{0:<10}'.format('python'),'1')
print('python'.ljust(10),'1')

### 24.2.13. 숫자 개수 맞추기

In [139]:
print('%03d' % 1)
print('%03d' % 35)
print('{0:03d}'.format(1))
print('{0:03d}'.format(35))

001
035
001
035

In [2]:
print('%08.2f' % 3.6)
print('%08.2f' % 150.37)
print('{0:08.2f}'.format(3.6))
print('{0:08.2f}'.format(150.37))

00003.60
00150.37
00003.60
00150.37

In [8]:
import numpy as np
print('{:.8f}'.format(np.pi))

3.14159265

## 24.3. 퀴즈

2번 문제

In [159]:
print('Python'.lower().replace('on', 'ON').ljust(10))

pythON

3번 문제

In [160]:
'{hello}, {language} 3.6'.format(hello='Hello', language='Python')

'Hello, Python 3.6'

In [161]:
'%s%s%s' % ('Hello,', 'Python', '3.6')

'Hello,Python3.6'

4번 문제

In [168]:
print('{0:>12.4f}'.format(1675.3)) # basic
#print('{ :>12.4f}'.format(1675.3))
print('{:>12.4f}'.format(1675.3)) #c
print('{: >12.4f}'.format(1675.3)) #d
print('{:0>12.4f}'.format(1675.3)) #e

   1675.3000
   1675.3000
   1675.3000
0001675.3000

## 24.4. 연습문제

In [172]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'
x = path.split('\\')
filename = x[-1]
print(filename)

python.exe

In [173]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'
x = path.split('\\')
x.reverse()
filename = x[0]
print(filename)

python.exe

In [177]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'
filename = path[path.rfind('\\') + 1:] # 이건 자세히 보지 않았다.
print(filename)

python.exe

## 24.5. 심사문제

In [238]:
A = input().split()
B = []
for word in A:
    temp = word.strip('.,')
    B.append(temp)
print(B.count('the'))

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

답 : 6

the python and the java are the important ones in these communities. So we can breathe. the,

답 : 3

## 24.6. 심사문제

51900;83000;158000;367500;250000;59200;128500;1304000

In [6]:
A = input()
B = A.split(';')
C = list(map(int, B))
C.sort(reverse=True)
for c in C:
    d = '{:>9,}'.format(c)
    print(d)

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

In [4]:
A = '51900;83000;158000;367500;250000;59200;128500;1304000'
B = A.split(';')
C = list(map(int, B))
C.sort(reverse=True)
for c in C:
    d = '{:>9,}'.format(c)a
    print(d)

1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900