In [2]:
import pandas as pd

In [11]:
_aisles = pd.DataFrame({'aisle_id':[1,2,3,4,5,6],'aisle':['apple','grape','orange','mango','melon','cucumber']})
_aisles

   aisle_id     aisle
0         1     apple
1         2     grape
2         3    orange
3         4     mango
4         5     melon
5         6  cucumber

In [17]:
_products = pd.DataFrame({'id':[1,2,3,4,5,6,7,8,9,10],'aisle_id':[3,1,1,2,5,6,1,1,3,2]})
_products

   id  aisle_id
0   1         3
1   2         1
2   3         1
3   4         2
4   5         5
5   6         6
6   7         1
7   8         1
8   9         3
9  10         2

In [14]:
_aisles_dict = dict(zip(AISLES.aisle_id,AISLES.aisle))
_aisles_dict

{1: 'apple', 2: 'grape', 3: 'orange', 4: 'mango', 5: 'melon', 6: 'cucumber'}

In [28]:
_aisles_dict[1]

'apple'